@font-face {
    font-family: "vuesax-outline";
    src: url('https://cdn.jsdelivr.net/gh/Yerikmiller/3pod-us.github.io@master/icons/iconsax/vuesax-outline/IconFont.woff2?t=1725559716913') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/Yerikmiller/3pod-us.github.io@master/icons/iconsax/vuesax-outline/IconFont.woff?t=1725559716913') format('woff'),
        url('https://cdn.jsdelivr.net/gh/Yerikmiller/3pod-us.github.io@master/icons/iconsax/vuesax-outline/IconFont.ttf?t=1725559716913') format('truetype');
}

.iconfont {
    font-family: "vuesax-outline" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.x-outline-gemini:before { content: "\e900"; }
.x-outline-aquarius:before { content: "\e901"; }
.x-outline-sagittarius:before { content: "\e902"; }
.x-outline-gemini-2:before { content: "\e903"; }
.x-outline-woman:before { content: "\e904"; }
.x-outline-man:before { content: "\e905"; }
.x-outline-call-incoming:before { content: "\e906"; }
.x-outline-call:before { content: "\e907"; }
.x-outline-call-calling:before { content: "\e908"; }
.x-outline-call-remove:before { content: "\e909"; }
.x-outline-call-outgoing:before { content: "\e90a"; }
.x-outline-call-minus:before { content: "\e90b"; }
.x-outline-call-add:before { content: "\e90c"; }
.x-outline-call-slash:before { content: "\e90d"; }
.x-outline-call-received:before { content: "\e90e"; }
.x-outline-simcard160:before { content: "\e90f"; }
.x-outline-lamp161:before { content: "\e910"; }
.x-outline-mobile:before { content: "\e911"; }
.x-outline-electricity:before { content: "\e912"; }
.x-outline-mirroring-screen:before { content: "\e913"; }
.x-outline-microscope:before { content: "\e914"; }
.x-outline-simcard162:before { content: "\e915"; }
.x-outline-keyboard-open:before { content: "\e916"; }
.x-outline-airdrop:before { content: "\e917"; }
.x-outline-simcard-2:before { content: "\e918"; }
.x-outline-headphones:before { content: "\e919"; }
.x-outline-folder-connection:before { content: "\e91a"; }
.x-outline-clock163:before { content: "\e91b"; }
.x-outline-ram:before { content: "\e91c"; }
.x-outline-external-drive:before { content: "\e91d"; }
.x-outline-cloud-remove:before { content: "\e91e"; }
.x-outline-speaker:before { content: "\e91f"; }
.x-outline-game:before { content: "\e920"; }
.x-outline-weight164:before { content: "\e921"; }
.x-outline-music-play:before { content: "\e922"; }
.x-outline-ram-2:before { content: "\e923"; }
.x-outline-mouse165:before { content: "\e924"; }
.x-outline-keyboard:before { content: "\e925"; }
.x-outline-airpods:before { content: "\e926"; }
.x-outline-gameboy:before { content: "\e927"; }
.x-outline-bluetooth-rectangle:before { content: "\e928"; }
.x-outline-bluetooth-circle:before { content: "\e929"; }
.x-outline-cloud-change:before { content: "\e92a"; }
.x-outline-watch:before { content: "\e92b"; }
.x-outline-watch-status:before { content: "\e92c"; }
.x-outline-bluetooth-2:before { content: "\e92d"; }
.x-outline-bluetooth:before { content: "\e92e"; }
.x-outline-airpod:before { content: "\e92f"; }
.x-outline-cpu-setting:before { content: "\e930"; }
.x-outline-cpu-charge:before { content: "\e931"; }
.x-outline-driver:before { content: "\e932"; }
.x-outline-driver-2:before { content: "\e933"; }
.x-outline-monitor-recorder:before { content: "\e934"; }
.x-outline-monitor:before { content: "\e935"; }
.x-outline-printer:before { content: "\e936"; }
.x-outline-headphone:before { content: "\e937"; }
.x-outline-monitor-mobbile:before { content: "\e938"; }
.x-outline-cloud-add:before { content: "\e939"; }
.x-outline-cpu:before { content: "\e93a"; }
.x-outline-printer-slash:before { content: "\e93b"; }
.x-outline-driver-refresh:before { content: "\e93c"; }
.x-outline-cloud-connection:before { content: "\e93d"; }
.x-outline-devices166:before { content: "\e93e"; }
.x-outline-lamp-slash:before { content: "\e93f"; }
.x-outline-notification137:before { content: "\e940"; }
.x-outline-notification-favorite:before { content: "\e941"; }
.x-outline-notification-status:before { content: "\e942"; }
.x-outline-notification-bing:before { content: "\e943"; }
.x-outline-notification-circle:before { content: "\e944"; }
.x-outline-lamp-on:before { content: "\e945"; }
.x-outline-notification138:before { content: "\e946"; }
.x-outline-lamp-charge:before { content: "\e947"; }
.x-outline-activity:before { content: "\e948"; }
.x-outline-chart170:before { content: "\e949"; }
.x-outline-chart171:before { content: "\e94a"; }
.x-outline-personalcard:before { content: "\e94b"; }
.x-outline-graph:before { content: "\e94c"; }
.x-outline-chart-fail:before { content: "\e94d"; }
.x-outline-chart-2:before { content: "\e94e"; }
.x-outline-home-hashtag:before { content: "\e94f"; }
.x-outline-presention-chart:before { content: "\e950"; }
.x-outline-chart172:before { content: "\e951"; }
.x-outline-health:before { content: "\e952"; }
.x-outline-diagram:before { content: "\e953"; }
.x-outline-status-up:before { content: "\e954"; }
.x-outline-home-trend-up:before { content: "\e955"; }
.x-outline-home-trend-down:before { content: "\e956"; }
.x-outline-chart-success:before { content: "\e957"; }
.x-outline-trend-up:before { content: "\e958"; }
.x-outline-favorite-chart:before { content: "\e959"; }
.x-outline-hashtag173:before { content: "\e95a"; }
.x-outline-trend-down:before { content: "\e95b"; }
.x-outline-save-minus:before { content: "\e95c"; }
.x-outline-archive-slash:before { content: "\e95d"; }
.x-outline-save-2:before { content: "\e95e"; }
.x-outline-archive-tick:before { content: "\e95f"; }
.x-outline-book-square:before { content: "\e960"; }
.x-outline-archive-add:before { content: "\e961"; }
.x-outline-archive-minus:before { content: "\e962"; }
.x-outline-save-remove:before { content: "\e963"; }
.x-outline-receipt-square:before { content: "\e964"; }
.x-outline-book-saved:before { content: "\e965"; }
.x-outline-archive146:before { content: "\e966"; }
.x-outline-save-add:before { content: "\e967"; }
.x-outline-toggle-on-circle:before { content: "\e968"; }
.x-outline-toggle-off-circle:before { content: "\e969"; }
.x-outline-menu144:before { content: "\e96a"; }
.x-outline-setting-5:before { content: "\e96b"; }
.x-outline-setting-4:before { content: "\e96c"; }
.x-outline-candle:before { content: "\e96d"; }
.x-outline-settings:before { content: "\e96e"; }
.x-outline-toggle-on:before { content: "\e96f"; }
.x-outline-candle-2:before { content: "\e970"; }
.x-outline-setting-3:before { content: "\e971"; }
.x-outline-toggle-off:before { content: "\e972"; }
.x-outline-setting:before { content: "\e973"; }
.x-outline-category-2:before { content: "\e974"; }
.x-outline-setting-2:before { content: "\e975"; }
.x-outline-more:before { content: "\e976"; }
.x-outline-category:before { content: "\e977"; }
.x-outline-more-2:before { content: "\e978"; }
.x-outline-gift:before { content: "\e979"; }
.x-outline-calculator:before { content: "\e97a"; }
.x-outline-brifecase-timer:before { content: "\e97b"; }
.x-outline-book107:before { content: "\e97c"; }
.x-outline-brifecase-tick:before { content: "\e97d"; }
.x-outline-brifecase-cross:before { content: "\e97e"; }
.x-outline-bookmark:before { content: "\e97f"; }
.x-outline-award:before { content: "\e980"; }
.x-outline-book108:before { content: "\e981"; }
.x-outline-briefcase:before { content: "\e982"; }
.x-outline-bookmark-2:before { content: "\e983"; }
.x-outline-note109:before { content: "\e984"; }
.x-outline-teacher:before { content: "\e985"; }
.x-outline-clipboard:before { content: "\e986"; }
.x-outline-note-2:before { content: "\e987"; }
.x-outline-search-normal197:before { content: "\e988"; }
.x-outline-search-favorite198:before { content: "\e989"; }
.x-outline-search-normal199:before { content: "\e98a"; }
.x-outline-search-zoom-out200:before { content: "\e98b"; }
.x-outline-search-zoom-out201:before { content: "\e98c"; }
.x-outline-search-status202:before { content: "\e98d"; }
.x-outline-search-zoom-in203:before { content: "\e98e"; }
.x-outline-search-zoom-in204:before { content: "\e98f"; }
.x-outline-search-favorite205:before { content: "\e990"; }
.x-outline-search-status206:before { content: "\e991"; }
.x-outline-arrow-right31:before { content: "\e992"; }
.x-outline-arrow-square-down:before { content: "\e993"; }
.x-outline-arrow-left32:before { content: "\e994"; }
.x-outline-arrow-right33:before { content: "\e995"; }
.x-outline-arrow-3:before { content: "\e996"; }
.x-outline-arrow-2:before { content: "\e997"; }
.x-outline-send34:before { content: "\e998"; }
.x-outline-arrow-right35:before { content: "\e999"; }
.x-outline-received:before { content: "\e99a"; }
.x-outline-arrow-right36:before { content: "\e99b"; }
.x-outline-arrow-down37:before { content: "\e99c"; }
.x-outline-arrow-down38:before { content: "\e99d"; }
.x-outline-arrow-right39:before { content: "\e99e"; }
.x-outline-arrow-left40:before { content: "\e99f"; }
.x-outline-arrow-up41:before { content: "\e9a0"; }
.x-outline-send-sqaure-2:before { content: "\e9a1"; }
.x-outline-receive-square-2:before { content: "\e9a2"; }
.x-outline-logout42:before { content: "\e9a3"; }
.x-outline-login43:before { content: "\e9a4"; }
.x-outline-login44:before { content: "\e9a5"; }
.x-outline-import45:before { content: "\e9a6"; }
.x-outline-refresh-left-square:before { content: "\e9a7"; }
.x-outline-send-square:before { content: "\e9a8"; }
.x-outline-refresh-square-2:before { content: "\e9a9"; }
.x-outline-refresh:before { content: "\e9aa"; }
.x-outline-export46:before { content: "\e9ab"; }
.x-outline-logout47:before { content: "\e9ac"; }
.x-outline-import48:before { content: "\e9ad"; }
.x-outline-export49:before { content: "\e9ae"; }
.x-outline-forward-square:before { content: "\e9af"; }
.x-outline-receive-square:before { content: "\e9b0"; }
.x-outline-arrow-up50:before { content: "\e9b1"; }
.x-outline-arrow-bottom:before { content: "\e9b2"; }
.x-outline-refresh-right-square:before { content: "\e9b3"; }
.x-outline-arrange-square:before { content: "\e9b4"; }
.x-outline-back-square:before { content: "\e9b5"; }
.x-outline-arrange-square-2:before { content: "\e9b6"; }
.x-outline-arrow-up51:before { content: "\e9b7"; }
.x-outline-arrow-circle-down:before { content: "\e9b8"; }
.x-outline-arrow-circle-up:before { content: "\e9b9"; }
.x-outline-arrow-left52:before { content: "\e9ba"; }
.x-outline-arrow-swap:before { content: "\e9bb"; }
.x-outline-redo:before { content: "\e9bc"; }
.x-outline-rotate-right53:before { content: "\e9bd"; }
.x-outline-rotate-left54:before { content: "\e9be"; }
.x-outline-export55:before { content: "\e9bf"; }
.x-outline-frame56:before { content: "\e9c0"; }
.x-outline-export57:before { content: "\e9c1"; }
.x-outline-refresh-2:before { content: "\e9c2"; }
.x-outline-arrow-circle-left:before { content: "\e9c3"; }
.x-outline-arrow-circle-right:before { content: "\e9c4"; }
.x-outline-undo:before { content: "\e9c5"; }
.x-outline-arrow-swap-horizontal:before { content: "\e9c6"; }
.x-outline-import58:before { content: "\e9c7"; }
.x-outline-arrange-circle:before { content: "\e9c8"; }
.x-outline-arrange-circle-2:before { content: "\e9c9"; }
.x-outline-repeat-circle:before { content: "\e9ca"; }
.x-outline-arrow-left59:before { content: "\e9cb"; }
.x-outline-repeat:before { content: "\e9cc"; }
.x-outline-convert:before { content: "\e9cd"; }
.x-outline-refresh-circle:before { content: "\e9ce"; }
.x-outline-arrow-down60:before { content: "\e9cf"; }
.x-outline-arrow-square-left:before { content: "\e9d0"; }
.x-outline-arrow-up61:before { content: "\e9d1"; }
.x-outline-arrow-square-up:before { content: "\e9d2"; }
.x-outline-star154:before { content: "\e9d3"; }
.x-outline-star-slash:before { content: "\e9d4"; }
.x-outline-heart:before { content: "\e9d5"; }
.x-outline-star155:before { content: "\e9d6"; }
.x-outline-heart-search:before { content: "\e9d7"; }
.x-outline-message-question:before { content: "\e9d8"; }
.x-outline-24-support:before { content: "\e9d9"; }
.x-outline-like-shapes:before { content: "\e9da"; }
.x-outline-like-tag:before { content: "\e9db"; }
.x-outline-heart-tick:before { content: "\e9dc"; }
.x-outline-like-dislike:before { content: "\e9dd"; }
.x-outline-medal-star:before { content: "\e9de"; }
.x-outline-heart-add:before { content: "\e9df"; }
.x-outline-medal:before { content: "\e9e0"; }
.x-outline-smileys:before { content: "\e9e1"; }
.x-outline-heart-remove:before { content: "\e9e2"; }
.x-outline-dislike:before { content: "\e9e3"; }
.x-outline-heart-circle:before { content: "\e9e4"; }
.x-outline-like156:before { content: "\e9e5"; }
.x-outline-heart-slash:before { content: "\e9e6"; }
.x-outline-lovely:before { content: "\e9e7"; }
.x-outline-unlimited:before { content: "\e9e8"; }
.x-outline-heart-edit:before { content: "\e9e9"; }
.x-outline-like157:before { content: "\e9ea"; }
.x-outline-ranking158:before { content: "\e9eb"; }
.x-outline-magic-star:before { content: "\e9ec"; }
.x-outline-format-square:before { content: "\e9ed"; }
.x-outline-format-circle:before { content: "\e9ee"; }
.x-outline-grid-eraser:before { content: "\e9ef"; }
.x-outline-element-equal:before { content: "\e9f0"; }
.x-outline-align-bottom:before { content: "\e9f1"; }
.x-outline-crop:before { content: "\e9f2"; }
.x-outline-maximize111:before { content: "\e9f3"; }
.x-outline-maximize-3:before { content: "\e9f4"; }
.x-outline-element-2:before { content: "\e9f5"; }
.x-outline-row-horizontal:before { content: "\e9f6"; }
.x-outline-grid-3:before { content: "\e9f7"; }
.x-outline-frame112:before { content: "\e9f8"; }
.x-outline-element-3:before { content: "\e9f9"; }
.x-outline-grid-6:before { content: "\e9fa"; }
.x-outline-element-plus:before { content: "\e9fb"; }
.x-outline-grid-8:before { content: "\e9fc"; }
.x-outline-element-4:before { content: "\e9fd"; }
.x-outline-grid-5:before { content: "\e9fe"; }
.x-outline-slider-vertical113:before { content: "\e9ff"; }
.x-outline-row-vertical:before { content: "\ea00"; }
.x-outline-fatrows:before { content: "\ea01"; }
.x-outline-slider-horizontal114:before { content: "\ea02"; }
.x-outline-grid-2:before { content: "\ea03"; }
.x-outline-grid-9:before { content: "\ea04"; }
.x-outline-slider-vertical115:before { content: "\ea05"; }
.x-outline-grid-4:before { content: "\ea06"; }
.x-outline-grid-lock:before { content: "\ea07"; }
.x-outline-align-vertically:before { content: "\ea08"; }
.x-outline-align-horizontally:before { content: "\ea09"; }
.x-outline-align-left:before { content: "\ea0a"; }
.x-outline-maximize-4:before { content: "\ea0b"; }
.x-outline-align-right:before { content: "\ea0c"; }
.x-outline-maximize116:before { content: "\ea0d"; }
.x-outline-kanban:before { content: "\ea0e"; }
.x-outline-slider-horizontal117:before { content: "\ea0f"; }
.x-outline-frame118:before { content: "\ea10"; }
.x-outline-maximize-2:before { content: "\ea11"; }
.x-outline-rotate-left119:before { content: "\ea12"; }
.x-outline-convertshape-2:before { content: "\ea13"; }
.x-outline-convertshape:before { content: "\ea14"; }
.x-outline-grid-edit:before { content: "\ea15"; }
.x-outline-rotate-right120:before { content: "\ea16"; }
.x-outline-3square:before { content: "\ea17"; }
.x-outline-grid-7:before { content: "\ea18"; }
.x-outline-grid-1:before { content: "\ea19"; }
.x-outline-crown175:before { content: "\ea1a"; }
.x-outline-cup:before { content: "\ea1b"; }
.x-outline-archive176:before { content: "\ea1c"; }
.x-outline-status:before { content: "\ea1d"; }
.x-outline-bubble:before { content: "\ea1e"; }
.x-outline-ghost:before { content: "\ea1f"; }
.x-outline-ranking177:before { content: "\ea20"; }
.x-outline-forbidden-2:before { content: "\ea21"; }
.x-outline-broom:before { content: "\ea22"; }
.x-outline-mouse-circle:before { content: "\ea23"; }
.x-outline-forbidden:before { content: "\ea24"; }
.x-outline-mouse178:before { content: "\ea25"; }
.x-outline-filter-remove:before { content: "\ea26"; }
.x-outline-filter-add:before { content: "\ea27"; }
.x-outline-filter-search:before { content: "\ea28"; }
.x-outline-filter-edit:before { content: "\ea29"; }
.x-outline-warning-2:before { content: "\ea2a"; }
.x-outline-signpost:before { content: "\ea2b"; }
.x-outline-minus:before { content: "\ea2c"; }
.x-outline-close-circle:before { content: "\ea2d"; }
.x-outline-info-circle:before { content: "\ea2e"; }
.x-outline-more-circle:before { content: "\ea2f"; }
.x-outline-diamonds:before { content: "\ea30"; }
.x-outline-minus-square:before { content: "\ea31"; }
.x-outline-battery-charging:before { content: "\ea32"; }
.x-outline-emoji-normal:before { content: "\ea33"; }
.x-outline-grammerly:before { content: "\ea34"; }
.x-outline-sort:before { content: "\ea35"; }
.x-outline-add:before { content: "\ea36"; }
.x-outline-danger:before { content: "\ea37"; }
.x-outline-home179:before { content: "\ea38"; }
.x-outline-emoji-happy:before { content: "\ea39"; }
.x-outline-emoji-sad:before { content: "\ea3a"; }
.x-outline-menu180:before { content: "\ea3b"; }
.x-outline-battery-disable:before { content: "\ea3c"; }
.x-outline-share:before { content: "\ea3d"; }
.x-outline-add-square:before { content: "\ea3e"; }
.x-outline-flash181:before { content: "\ea3f"; }
.x-outline-slash:before { content: "\ea40"; }
.x-outline-cd:before { content: "\ea41"; }
.x-outline-crown182:before { content: "\ea42"; }
.x-outline-more-square:before { content: "\ea43"; }
.x-outline-tag-cross:before { content: "\ea44"; }
.x-outline-cake:before { content: "\ea45"; }
.x-outline-home-2:before { content: "\ea46"; }
.x-outline-flash-circle183:before { content: "\ea47"; }
.x-outline-flash-slash:before { content: "\ea48"; }
.x-outline-tick-circle:before { content: "\ea49"; }
.x-outline-tick-square:before { content: "\ea4a"; }
.x-outline-battery-2-3full:before { content: "\ea4b"; }
.x-outline-flag:before { content: "\ea4c"; }
.x-outline-add-circle:before { content: "\ea4d"; }
.x-outline-send184:before { content: "\ea4e"; }
.x-outline-minus-cirlce:before { content: "\ea4f"; }
.x-outline-battery-full:before { content: "\ea50"; }
.x-outline-send-2:before { content: "\ea51"; }
.x-outline-battery-empty185:before { content: "\ea52"; }
.x-outline-trash:before { content: "\ea53"; }
.x-outline-close-square:before { content: "\ea54"; }
.x-outline-battery-empty186:before { content: "\ea55"; }
.x-outline-flag-2:before { content: "\ea56"; }
.x-outline-sound:before { content: "\ea57"; }
.x-outline-discover187:before { content: "\ea58"; }
.x-outline-glass188:before { content: "\ea59"; }
.x-outline-slider:before { content: "\ea5a"; }
.x-outline-filter-square:before { content: "\ea5b"; }
.x-outline-weight189:before { content: "\ea5c"; }
.x-outline-story:before { content: "\ea5d"; }
.x-outline-triangle190:before { content: "\ea5e"; }
.x-outline-autobrightness:before { content: "\ea5f"; }
.x-outline-reserve:before { content: "\ea60"; }
.x-outline-wifi-square:before { content: "\ea61"; }
.x-outline-lamp191:before { content: "\ea62"; }
.x-outline-wifi:before { content: "\ea63"; }
.x-outline-judge:before { content: "\ea64"; }
.x-outline-level:before { content: "\ea65"; }
.x-outline-filter:before { content: "\ea66"; }
.x-outline-information:before { content: "\ea67"; }
.x-outline-verify:before { content: "\ea68"; }
.x-outline-speedometer:before { content: "\ea69"; }
.x-outline-3dcube:before { content: "\ea6a"; }
.x-outline-computing:before { content: "\ea6b"; }
.x-outline-trush-square:before { content: "\ea6c"; }
.x-outline-instagram:before { content: "\ea6d"; }
.x-outline-sticker:before { content: "\ea6e"; }
.x-outline-pet:before { content: "\ea6f"; }
.x-outline-chrome:before { content: "\ea70"; }
.x-outline-tree:before { content: "\ea71"; }
.x-outline-chart192:before { content: "\ea72"; }
.x-outline-coffee:before { content: "\ea73"; }
.x-outline-home193:before { content: "\ea74"; }
.x-outline-filter-tick:before { content: "\ea75"; }
.x-outline-smart-home:before { content: "\ea76"; }
.x-outline-safe-home:before { content: "\ea77"; }
.x-outline-home-wifi:before { content: "\ea78"; }
.x-outline-happyemoji:before { content: "\ea79"; }
.x-outline-milk:before { content: "\ea7a"; }
.x-outline-tag-right:before { content: "\ea7b"; }
.x-outline-mirror:before { content: "\ea7c"; }
.x-outline-mouse-square:before { content: "\ea7d"; }
.x-outline-box-2:before { content: "\ea7e"; }
.x-outline-main-component:before { content: "\ea7f"; }
.x-outline-paintbucket:before { content: "\ea80"; }
.x-outline-magicpen:before { content: "\ea81"; }
.x-outline-brush85:before { content: "\ea82"; }
.x-outline-designtools:before { content: "\ea83"; }
.x-outline-ruler:before { content: "\ea84"; }
.x-outline-shapes86:before { content: "\ea85"; }
.x-outline-bezier:before { content: "\ea86"; }
.x-outline-brush87:before { content: "\ea87"; }
.x-outline-lifebuoy:before { content: "\ea88"; }
.x-outline-pen-tool-2:before { content: "\ea89"; }
.x-outline-pen-close:before { content: "\ea8a"; }
.x-outline-brush88:before { content: "\ea8b"; }
.x-outline-pen-add:before { content: "\ea8c"; }
.x-outline-pen-remove:before { content: "\ea8d"; }
.x-outline-flash-circle89:before { content: "\ea8e"; }
.x-outline-blend:before { content: "\ea8f"; }
.x-outline-path-square:before { content: "\ea90"; }
.x-outline-blend-2:before { content: "\ea91"; }
.x-outline-bucket-circle:before { content: "\ea92"; }
.x-outline-bucket-square:before { content: "\ea93"; }
.x-outline-path-2:before { content: "\ea94"; }
.x-outline-path:before { content: "\ea95"; }
.x-outline-additem:before { content: "\ea96"; }
.x-outline-shapes90:before { content: "\ea97"; }
.x-outline-glass91:before { content: "\ea98"; }
.x-outline-ruler-pen:before { content: "\ea99"; }
.x-outline-size:before { content: "\ea9a"; }
.x-outline-omega-square:before { content: "\ea9b"; }
.x-outline-mask92:before { content: "\ea9c"; }
.x-outline-mask93:before { content: "\ea9d"; }
.x-outline-blur:before { content: "\ea9e"; }
.x-outline-colorfilter:before { content: "\ea9f"; }
.x-outline-brush94:before { content: "\eaa0"; }
.x-outline-layer:before { content: "\eaa1"; }
.x-outline-eraser95:before { content: "\eaa2"; }
.x-outline-copy:before { content: "\eaa3"; }
.x-outline-copy-success:before { content: "\eaa4"; }
.x-outline-recovery-convert:before { content: "\eaa5"; }
.x-outline-omega-circle:before { content: "\eaa6"; }
.x-outline-component:before { content: "\eaa7"; }
.x-outline-mask96:before { content: "\eaa8"; }
.x-outline-colors-square:before { content: "\eaa9"; }
.x-outline-backward-item:before { content: "\eaaa"; }
.x-outline-forward-item:before { content: "\eaab"; }
.x-outline-brush97:before { content: "\eaac"; }
.x-outline-building:before { content: "\eaad"; }
.x-outline-building-3:before { content: "\eaae"; }
.x-outline-buildings-2:before { content: "\eaaf"; }
.x-outline-courthouse:before { content: "\eab0"; }
.x-outline-buliding:before { content: "\eab1"; }
.x-outline-building-4:before { content: "\eab2"; }
.x-outline-house-2:before { content: "\eab3"; }
.x-outline-house:before { content: "\eab4"; }
.x-outline-hospital:before { content: "\eab5"; }
.x-outline-bank:before { content: "\eab6"; }
.x-outline-buildings:before { content: "\eab7"; }
.x-outline-calendar148:before { content: "\eab8"; }
.x-outline-calendar-remove:before { content: "\eab9"; }
.x-outline-calendar-search:before { content: "\eaba"; }
.x-outline-calendar-edit:before { content: "\eabb"; }
.x-outline-calendar-add:before { content: "\eabc"; }
.x-outline-calendar-tick:before { content: "\eabd"; }
.x-outline-calendar-2:before { content: "\eabe"; }
.x-outline-calendar149:before { content: "\eabf"; }
.x-outline-clock150:before { content: "\eac0"; }
.x-outline-timer151:before { content: "\eac1"; }
.x-outline-calendar-circle:before { content: "\eac2"; }
.x-outline-security-time:before { content: "\eac3"; }
.x-outline-timer-start:before { content: "\eac4"; }
.x-outline-timer-pause:before { content: "\eac5"; }
.x-outline-timer152:before { content: "\eac6"; }
.x-outline-airplane:before { content: "\eac7"; }
.x-outline-smart-car:before { content: "\eac8"; }
.x-outline-driving:before { content: "\eac9"; }
.x-outline-car:before { content: "\eaca"; }
.x-outline-bus:before { content: "\eacb"; }
.x-outline-ship:before { content: "\eacc"; }
.x-outline-airplane-square:before { content: "\eacd"; }
.x-outline-gas-station:before { content: "\eace"; }
.x-outline-shop:before { content: "\eacf"; }
.x-outline-barcode:before { content: "\ead0"; }
.x-outline-shop-add:before { content: "\ead1"; }
.x-outline-bag-cross104:before { content: "\ead2"; }
.x-outline-shop-remove:before { content: "\ead3"; }
.x-outline-shopping-bag:before { content: "\ead4"; }
.x-outline-shopping-cart:before { content: "\ead5"; }
.x-outline-bag-happy:before { content: "\ead6"; }
.x-outline-bag-2:before { content: "\ead7"; }
.x-outline-bag-tick:before { content: "\ead8"; }
.x-outline-bag-timer:before { content: "\ead9"; }
.x-outline-bag-cross105:before { content: "\eada"; }
.x-outline-bag-tick-2:before { content: "\eadb"; }
.x-outline-bag:before { content: "\eadc"; }
.x-outline-document-text131:before { content: "\eadd"; }
.x-outline-note-remove:before { content: "\eade"; }
.x-outline-clipboard-text:before { content: "\eadf"; }
.x-outline-task-square:before { content: "\eae0"; }
.x-outline-edit-2:before { content: "\eae1"; }
.x-outline-task:before { content: "\eae2"; }
.x-outline-note132:before { content: "\eae3"; }
.x-outline-document-text133:before { content: "\eae4"; }
.x-outline-document134:before { content: "\eae5"; }
.x-outline-document-forward:before { content: "\eae6"; }
.x-outline-document-favorite:before { content: "\eae7"; }
.x-outline-document-sketch:before { content: "\eae8"; }
.x-outline-document-upload:before { content: "\eae9"; }
.x-outline-document-normal:before { content: "\eaea"; }
.x-outline-document-previous:before { content: "\eaeb"; }
.x-outline-document-copy:before { content: "\eaec"; }
.x-outline-clipboard-close:before { content: "\eaed"; }
.x-outline-document-download:before { content: "\eaee"; }
.x-outline-clipboard-import:before { content: "\eaef"; }
.x-outline-document-cloud:before { content: "\eaf0"; }
.x-outline-clipboard-tick:before { content: "\eaf1"; }
.x-outline-clipboard-export:before { content: "\eaf2"; }
.x-outline-note135:before { content: "\eaf3"; }
.x-outline-document-like:before { content: "\eaf4"; }
.x-outline-edit:before { content: "\eaf5"; }
.x-outline-copyright:before { content: "\eaf6"; }
.x-outline-creative-commons:before { content: "\eaf7"; }
.x-outline-stickynote:before { content: "\eaf8"; }
.x-outline-note-add:before { content: "\eaf9"; }
.x-outline-bill:before { content: "\eafa"; }
.x-outline-document-filter:before { content: "\eafb"; }
.x-outline-archive-book:before { content: "\eafc"; }
.x-outline-note-text:before { content: "\eafd"; }
.x-outline-menu-board:before { content: "\eafe"; }
.x-outline-note-favorite:before { content: "\eaff"; }
.x-outline-location-tick:before { content: "\eb00"; }
.x-outline-location-minus:before { content: "\eb01"; }
.x-outline-location-cross:before { content: "\eb02"; }
.x-outline-location-slash:before { content: "\eb03"; }
.x-outline-global-edit:before { content: "\eb04"; }
.x-outline-global-search:before { content: "\eb05"; }
.x-outline-radar-2:before { content: "\eb06"; }
.x-outline-radar99:before { content: "\eb07"; }
.x-outline-route-square:before { content: "\eb08"; }
.x-outline-picture-frame:before { content: "\eb09"; }
.x-outline-map100:before { content: "\eb0a"; }
.x-outline-direct-up:before { content: "\eb0b"; }
.x-outline-direct-down:before { content: "\eb0c"; }
.x-outline-gps-slash:before { content: "\eb0d"; }
.x-outline-routing-2:before { content: "\eb0e"; }
.x-outline-direct-right:before { content: "\eb0f"; }
.x-outline-routing:before { content: "\eb10"; }
.x-outline-direct-left:before { content: "\eb11"; }
.x-outline-discover101:before { content: "\eb12"; }
.x-outline-map102:before { content: "\eb13"; }
.x-outline-global:before { content: "\eb14"; }
.x-outline-gps:before { content: "\eb15"; }
.x-outline-arrow:before { content: "\eb16"; }
.x-outline-arrow-square:before { content: "\eb17"; }
.x-outline-global-refresh:before { content: "\eb18"; }
.x-outline-location-add:before { content: "\eb19"; }
.x-outline-location:before { content: "\eb1a"; }
.x-outline-folder-cloud:before { content: "\eb1b"; }
.x-outline-folder-2:before { content: "\eb1c"; }
.x-outline-folder-open:before { content: "\eb1d"; }
.x-outline-folder-cross:before { content: "\eb1e"; }
.x-outline-folder:before { content: "\eb1f"; }
.x-outline-folder-minus:before { content: "\eb20"; }
.x-outline-folder-add:before { content: "\eb21"; }
.x-outline-folder-favorite:before { content: "\eb22"; }
.x-outline-icon70:before { content: "\eb23"; }
.x-outline-wind-2:before { content: "\eb24"; }
.x-outline-flash71:before { content: "\eb25"; }
.x-outline-sun-fog:before { content: "\eb26"; }
.x-outline-wind:before { content: "\eb27"; }
.x-outline-cloud-fog:before { content: "\eb28"; }
.x-outline-sun72:before { content: "\eb29"; }
.x-outline-moon:before { content: "\eb2a"; }
.x-outline-cloud:before { content: "\eb2b"; }
.x-outline-cloud-minus:before { content: "\eb2c"; }
.x-outline-cloud-cross:before { content: "\eb2d"; }
.x-outline-sun73:before { content: "\eb2e"; }
.x-outline-cloud-sunny:before { content: "\eb2f"; }
.x-outline-cloud-plus:before { content: "\eb30"; }
.x-outline-cloud-drizzle:before { content: "\eb31"; }
.x-outline-cloud-lightning:before { content: "\eb32"; }
.x-outline-cloud-notif:before { content: "\eb33"; }
.x-outline-cloud-snow:before { content: "\eb34"; }
.x-outline-profile-circle:before { content: "\eb35"; }
.x-outline-user-remove:before { content: "\eb36"; }
.x-outline-user-minus:before { content: "\eb37"; }
.x-outline-user-tag:before { content: "\eb38"; }
.x-outline-user-tick:before { content: "\eb39"; }
.x-outline-profile-2user:before { content: "\eb3a"; }
.x-outline-profile-remove:before { content: "\eb3b"; }
.x-outline-profile-tick:before { content: "\eb3c"; }
.x-outline-profile-add:before { content: "\eb3d"; }
.x-outline-user-add:before { content: "\eb3e"; }
.x-outline-profile-delete:before { content: "\eb3f"; }
.x-outline-tag-user:before { content: "\eb40"; }
.x-outline-user-octagon:before { content: "\eb41"; }
.x-outline-people:before { content: "\eb42"; }
.x-outline-user:before { content: "\eb43"; }
.x-outline-user-edit:before { content: "\eb44"; }
.x-outline-user-square:before { content: "\eb45"; }
.x-outline-user-cirlce-add:before { content: "\eb46"; }
.x-outline-user-search:before { content: "\eb47"; }
.x-outline-frame75:before { content: "\eb48"; }
.x-outline-sms-edit:before { content: "\eb49"; }
.x-outline-sms-notification:before { content: "\eb4a"; }
.x-outline-sms-search:before { content: "\eb4b"; }
.x-outline-message-add78:before { content: "\eb4c"; }
.x-outline-direct-send:before { content: "\eb4d"; }
.x-outline-sms-star:before { content: "\eb4e"; }
.x-outline-message:before { content: "\eb4f"; }
.x-outline-message-time:before { content: "\eb50"; }
.x-outline-message-favorite:before { content: "\eb51"; }
.x-outline-message-remove:before { content: "\eb52"; }
.x-outline-message-notif:before { content: "\eb53"; }
.x-outline-message-search:before { content: "\eb54"; }
.x-outline-message-text79:before { content: "\eb55"; }
.x-outline-messages80:before { content: "\eb56"; }
.x-outline-messages81:before { content: "\eb57"; }
.x-outline-message-2:before { content: "\eb58"; }
.x-outline-messages-3:before { content: "\eb59"; }
.x-outline-message-circle:before { content: "\eb5a"; }
.x-outline-message-add82:before { content: "\eb5b"; }
.x-outline-message-square:before { content: "\eb5c"; }
.x-outline-message-edit:before { content: "\eb5d"; }
.x-outline-sms:before { content: "\eb5e"; }
.x-outline-device-message:before { content: "\eb5f"; }
.x-outline-message-tick:before { content: "\eb60"; }
.x-outline-message-text83:before { content: "\eb61"; }
.x-outline-sms-tracking:before { content: "\eb62"; }
.x-outline-message-minus:before { content: "\eb63"; }
.x-outline-messages-2:before { content: "\eb64"; }
.x-outline-direct-notification:before { content: "\eb65"; }
.x-outline-direct:before { content: "\eb66"; }
.x-outline-directbox-default:before { content: "\eb67"; }
.x-outline-directbox-receive:before { content: "\eb68"; }
.x-outline-directbox-notif:before { content: "\eb69"; }
.x-outline-direct-normal:before { content: "\eb6a"; }
.x-outline-direct-inbox:before { content: "\eb6b"; }
.x-outline-directbox-send:before { content: "\eb6c"; }
.x-outline-document-code:before { content: "\eb6d"; }
.x-outline-data-2:before { content: "\eb6e"; }
.x-outline-hierarchy-square-3:before { content: "\eb6f"; }
.x-outline-programming-arrow:before { content: "\eb70"; }
.x-outline-command:before { content: "\eb71"; }
.x-outline-message-programming:before { content: "\eb72"; }
.x-outline-hierarchy:before { content: "\eb73"; }
.x-outline-hierarchy-2:before { content: "\eb74"; }
.x-outline-document-code-2:before { content: "\eb75"; }
.x-outline-command-square:before { content: "\eb76"; }
.x-outline-data:before { content: "\eb77"; }
.x-outline-programming-arrows:before { content: "\eb78"; }
.x-outline-hierarchy-3:before { content: "\eb79"; }
.x-outline-code-circle:before { content: "\eb7a"; }
.x-outline-code140:before { content: "\eb7b"; }
.x-outline-code141:before { content: "\eb7c"; }
.x-outline-hashtag-up:before { content: "\eb7d"; }
.x-outline-hashtag142:before { content: "\eb7e"; }
.x-outline-hashtag-down:before { content: "\eb7f"; }
.x-outline-scroll:before { content: "\eb80"; }
.x-outline-sidebar-left:before { content: "\eb81"; }
.x-outline-sidebar-right:before { content: "\eb82"; }
.x-outline-sidebar-top:before { content: "\eb83"; }
.x-outline-sidebar-bottom:before { content: "\eb84"; }
.x-outline-hierarchy-square-2:before { content: "\eb85"; }
.x-outline-mobile-programming:before { content: "\eb86"; }
.x-outline-hierarchy-square:before { content: "\eb87"; }
.x-outline-truck-remove:before { content: "\eb88"; }
.x-outline-3d-square:before { content: "\eb89"; }
.x-outline-truck-tick:before { content: "\eb8a"; }
.x-outline-truck-fast:before { content: "\eb8b"; }
.x-outline-3d-rotate:before { content: "\eb8c"; }
.x-outline-truck:before { content: "\eb8d"; }
.x-outline-box122:before { content: "\eb8e"; }
.x-outline-box-tick:before { content: "\eb8f"; }
.x-outline-box-search:before { content: "\eb90"; }
.x-outline-box-time:before { content: "\eb91"; }
.x-outline-box-remove:before { content: "\eb92"; }
.x-outline-truck-time:before { content: "\eb93"; }
.x-outline-box-add:before { content: "\eb94"; }
.x-outline-convert-3d-cube:before { content: "\eb95"; }
.x-outline-3d-cube-scan:before { content: "\eb96"; }
.x-outline-box123:before { content: "\eb97"; }
.x-outline-money-4:before { content: "\eb98"; }
.x-outline-money-3:before { content: "\eb99"; }
.x-outline-chart-square:before { content: "\eb9a"; }
.x-outline-receipt-item:before { content: "\eb9b"; }
.x-outline-empty-wallet-remove:before { content: "\eb9c"; }
.x-outline-empty-wallet:before { content: "\eb9d"; }
.x-outline-wallet-check:before { content: "\eb9e"; }
.x-outline-percentage-circle:before { content: "\eb9f"; }
.x-outline-wallet-add02:before { content: "\eba0"; }
.x-outline-receipt-minus:before { content: "\eba1"; }
.x-outline-receipt-discount:before { content: "\eba2"; }
.x-outline-empty-wallet-add:before { content: "\eba3"; }
.x-outline-archive03:before { content: "\eba4"; }
.x-outline-moneys:before { content: "\eba5"; }
.x-outline-coin04:before { content: "\eba6"; }
.x-outline-receipt-edit:before { content: "\eba7"; }
.x-outline-wallet05:before { content: "\eba8"; }
.x-outline-receipt-search:before { content: "\eba9"; }
.x-outline-ticket-discount:before { content: "\ebaa"; }
.x-outline-card-tick06:before { content: "\ebab"; }
.x-outline-card-pos:before { content: "\ebac"; }
.x-outline-card:before { content: "\ebad"; }
.x-outline-receipt07:before { content: "\ebae"; }
.x-outline-dollar-square:before { content: "\ebaf"; }
.x-outline-card-remove08:before { content: "\ebb0"; }
.x-outline-receipt-209:before { content: "\ebb1"; }
.x-outline-card-send:before { content: "\ebb2"; }
.x-outline-security-card:before { content: "\ebb3"; }
.x-outline-wallet-remove:before { content: "\ebb4"; }
.x-outline-ticket-2:before { content: "\ebb5"; }
.x-outline-receipt-210:before { content: "\ebb6"; }
.x-outline-receipt11:before { content: "\ebb7"; }
.x-outline-cards:before { content: "\ebb8"; }
.x-outline-money-forbidden:before { content: "\ebb9"; }
.x-outline-card-edit:before { content: "\ebba"; }
.x-outline-receipt-disscount:before { content: "\ebbb"; }
.x-outline-wallet-minus:before { content: "\ebbc"; }
.x-outline-math:before { content: "\ebbd"; }
.x-outline-ticket:before { content: "\ebbe"; }
.x-outline-wallet-3:before { content: "\ebbf"; }
.x-outline-wallet-2:before { content: "\ebc0"; }
.x-outline-card-slash:before { content: "\ebc1"; }
.x-outline-receipt-text:before { content: "\ebc2"; }
.x-outline-money-time:before { content: "\ebc3"; }
.x-outline-card-tick12:before { content: "\ebc4"; }
.x-outline-wallet-add13:before { content: "\ebc5"; }
.x-outline-ticket-star:before { content: "\ebc6"; }
.x-outline-ticket-expired:before { content: "\ebc7"; }
.x-outline-tag-2:before { content: "\ebc8"; }
.x-outline-money-change:before { content: "\ebc9"; }
.x-outline-strongbox:before { content: "\ebca"; }
.x-outline-dollar-circle:before { content: "\ebcb"; }
.x-outline-wallet-money:before { content: "\ebcc"; }
.x-outline-money-add:before { content: "\ebcd"; }
.x-outline-card-add:before { content: "\ebce"; }
.x-outline-tag:before { content: "\ebcf"; }
.x-outline-coin14:before { content: "\ebd0"; }
.x-outline-money-tick:before { content: "\ebd1"; }
.x-outline-money-remove:before { content: "\ebd2"; }
.x-outline-convert-card:before { content: "\ebd3"; }
.x-outline-card-remove15:before { content: "\ebd4"; }
.x-outline-discount-circle:before { content: "\ebd5"; }
.x-outline-discount-shape:before { content: "\ebd6"; }
.x-outline-document16:before { content: "\ebd7"; }
.x-outline-empty-wallet-tick:before { content: "\ebd8"; }
.x-outline-strongbox-2:before { content: "\ebd9"; }
.x-outline-empty-wallet-change:before { content: "\ebda"; }
.x-outline-receipt-add:before { content: "\ebdb"; }
.x-outline-transaction-minus:before { content: "\ebdc"; }
.x-outline-money-2:before { content: "\ebdd"; }
.x-outline-money-send:before { content: "\ebde"; }
.x-outline-wallet17:before { content: "\ebdf"; }
.x-outline-money-recive:before { content: "\ebe0"; }
.x-outline-wallet-search:before { content: "\ebe1"; }
.x-outline-empty-wallet-time:before { content: "\ebe2"; }
.x-outline-money:before { content: "\ebe3"; }
.x-outline-percentage-square:before { content: "\ebe4"; }
.x-outline-card-receive:before { content: "\ebe5"; }
.x-outline-trade:before { content: "\ebe6"; }
.x-outline-bitcoin-refresh:before { content: "\ebe7"; }
.x-outline-buy-crypto:before { content: "\ebe8"; }
.x-outline-bitcoin-card:before { content: "\ebe9"; }
.x-outline-card-coin:before { content: "\ebea"; }
.x-outline-bitcoin-convert:before { content: "\ebeb"; }
.x-outline-gallery-export:before { content: "\ebec"; }
.x-outline-screenmirroring:before { content: "\ebed"; }
.x-outline-gallery-add:before { content: "\ebee"; }
.x-outline-gallery:before { content: "\ebef"; }
.x-outline-gallery-edit:before { content: "\ebf0"; }
.x-outline-microphone:before { content: "\ebf1"; }
.x-outline-microphone-2:before { content: "\ebf2"; }
.x-outline-volume-low25:before { content: "\ebf3"; }
.x-outline-gallery-remove:before { content: "\ebf4"; }
.x-outline-image:before { content: "\ebf5"; }
.x-outline-camera:before { content: "\ebf6"; }
.x-outline-camera-slash:before { content: "\ebf7"; }
.x-outline-play:before { content: "\ebf8"; }
.x-outline-record:before { content: "\ebf9"; }
.x-outline-stop:before { content: "\ebfa"; }
.x-outline-music:before { content: "\ebfb"; }
.x-outline-music-square-remove:before { content: "\ebfc"; }
.x-outline-video-time:before { content: "\ebfd"; }
.x-outline-video-tick:before { content: "\ebfe"; }
.x-outline-video-remove:before { content: "\ebff"; }
.x-outline-video-add:before { content: "\ec00"; }
.x-outline-mini-music-sqaure:before { content: "\ec01"; }
.x-outline-devices26:before { content: "\ec02"; }
.x-outline-music-library-2:before { content: "\ec03"; }
.x-outline-music-square:before { content: "\ec04"; }
.x-outline-audio-square:before { content: "\ec05"; }
.x-outline-note-square:before { content: "\ec06"; }
.x-outline-music-playlist:before { content: "\ec07"; }
.x-outline-video-octagon:before { content: "\ec08"; }
.x-outline-voice-square:before { content: "\ec09"; }
.x-outline-maximize-circle:before { content: "\ec0a"; }
.x-outline-play-remove:before { content: "\ec0b"; }
.x-outline-music-circle:before { content: "\ec0c"; }
.x-outline-music-dashboard:before { content: "\ec0d"; }
.x-outline-play-add:before { content: "\ec0e"; }
.x-outline-play-cricle:before { content: "\ec0f"; }
.x-outline-music-square-add:before { content: "\ec10"; }
.x-outline-music-filter:before { content: "\ec11"; }
.x-outline-backward-5-seconds:before { content: "\ec12"; }
.x-outline-voice-cricle:before { content: "\ec13"; }
.x-outline-volume-mute:before { content: "\ec14"; }
.x-outline-volume-slash:before { content: "\ec15"; }
.x-outline-volume-low27:before { content: "\ec16"; }
.x-outline-volume-high:before { content: "\ec17"; }
.x-outline-video:before { content: "\ec18"; }
.x-outline-video-slash:before { content: "\ec19"; }
.x-outline-video-circle:before { content: "\ec1a"; }
.x-outline-gallery-slash:before { content: "\ec1b"; }
.x-outline-gallery-tick:before { content: "\ec1c"; }
.x-outline-gallery-import:before { content: "\ec1d"; }
.x-outline-subtitle:before { content: "\ec1e"; }
.x-outline-record-circle:before { content: "\ec1f"; }
.x-outline-gallery-favorite:before { content: "\ec20"; }
.x-outline-forward-10-seconds:before { content: "\ec21"; }
.x-outline-video-square:before { content: "\ec22"; }
.x-outline-repeate-one:before { content: "\ec23"; }
.x-outline-microphone-slash28:before { content: "\ec24"; }
.x-outline-video-vertical:before { content: "\ec25"; }
.x-outline-video-play:before { content: "\ec26"; }
.x-outline-video-horizontal:before { content: "\ec27"; }
.x-outline-pause:before { content: "\ec28"; }
.x-outline-stop-circle:before { content: "\ec29"; }
.x-outline-backward-10-seconds:before { content: "\ec2a"; }
.x-outline-pause-circle:before { content: "\ec2b"; }
.x-outline-previous:before { content: "\ec2c"; }
.x-outline-play-circle:before { content: "\ec2d"; }
.x-outline-radio:before { content: "\ec2e"; }
.x-outline-forward:before { content: "\ec2f"; }
.x-outline-volume-up:before { content: "\ec30"; }
.x-outline-musicnote:before { content: "\ec31"; }
.x-outline-next:before { content: "\ec32"; }
.x-outline-volume-cross:before { content: "\ec33"; }
.x-outline-scissor02:before { content: "\ec34"; }
.x-outline-backward-15-seconds:before { content: "\ec35"; }
.x-outline-backward:before { content: "\ec36"; }
.x-outline-microphone-slash29:before { content: "\ec37"; }
.x-outline-repeate-music:before { content: "\ec38"; }
.x-outline-shuffle:before { content: "\ec39"; }
.x-outline-music-square-search:before { content: "\ec3a"; }
.x-outline-forward-15-seconds:before { content: "\ec3b"; }
.x-outline-forward-5-seconds:before { content: "\ec3c"; }
.x-outline-attach-square:before { content: "\ec3d"; }
.x-outline-paperclip-2:before { content: "\ec3e"; }
.x-outline-quote-down:before { content: "\ec3f"; }
.x-outline-textalign-justifyleft:before { content: "\ec40"; }
.x-outline-quote-up:before { content: "\ec41"; }
.x-outline-link19:before { content: "\ec42"; }
.x-outline-quote-up-square:before { content: "\ec43"; }
.x-outline-text-italic:before { content: "\ec44"; }
.x-outline-quote-down-square:before { content: "\ec45"; }
.x-outline-firstline:before { content: "\ec46"; }
.x-outline-quote-down-circle:before { content: "\ec47"; }
.x-outline-maximize20:before { content: "\ec48"; }
.x-outline-quote-up-circle:before { content: "\ec49"; }
.x-outline-text-block:before { content: "\ec4a"; }
.x-outline-smallcaps:before { content: "\ec4b"; }
.x-outline-pharagraphspacing:before { content: "\ec4c"; }
.x-outline-text:before { content: "\ec4d"; }
.x-outline-text-bold:before { content: "\ec4e"; }
.x-outline-attach-circle:before { content: "\ec4f"; }
.x-outline-text-underline:before { content: "\ec50"; }
.x-outline-language-square:before { content: "\ec51"; }
.x-outline-link-2:before { content: "\ec52"; }
.x-outline-eraser21:before { content: "\ec53"; }
.x-outline-link-circle:before { content: "\ec54"; }
.x-outline-language-circle:before { content: "\ec55"; }
.x-outline-link22:before { content: "\ec56"; }
.x-outline-textalign-left:before { content: "\ec57"; }
.x-outline-textalign-right:before { content: "\ec58"; }
.x-outline-link23:before { content: "\ec59"; }
.x-outline-textalign-justifycenter:before { content: "\ec5a"; }
.x-outline-paperclip:before { content: "\ec5b"; }
.x-outline-textalign-center:before { content: "\ec5c"; }
.x-outline-textalign-justifyright:before { content: "\ec5d"; }
.x-outline-link-square:before { content: "\ec5e"; }
.x-outline-translate:before { content: "\ec5f"; }
.x-outline-security:before { content: "\ec60"; }
.x-outline-shield-tick:before { content: "\ec61"; }
.x-outline-shield:before { content: "\ec62"; }
.x-outline-shield-slash:before { content: "\ec63"; }
.x-outline-shield-cross:before { content: "\ec64"; }
.x-outline-frame126:before { content: "\ec65"; }
.x-outline-eye-slash:before { content: "\ec66"; }
.x-outline-eye:before { content: "\ec67"; }
.x-outline-password-check:before { content: "\ec68"; }
.x-outline-shield-search:before { content: "\ec69"; }
.x-outline-key:before { content: "\ec6a"; }
.x-outline-lock127:before { content: "\ec6b"; }
.x-outline-unlock:before { content: "\ec6c"; }
.x-outline-finger-scan:before { content: "\ec6d"; }
.x-outline-lock-slash:before { content: "\ec6e"; }
.x-outline-scanning:before { content: "\ec6f"; }
.x-outline-scanner:before { content: "\ec70"; }
.x-outline-lock-circle:before { content: "\ec71"; }
.x-outline-lock128:before { content: "\ec72"; }
.x-outline-scan-barcode:before { content: "\ec73"; }
.x-outline-scan:before { content: "\ec74"; }
.x-outline-check:before { content: "\ec75"; }
.x-outline-key-square:before { content: "\ec76"; }
.x-outline-radar129:before { content: "\ec77"; }
.x-outline-alarm:before { content: "\ec78"; }
.x-outline-finger-cricle:before { content: "\ec79"; }
.x-outline-security-safe:before { content: "\ec7a"; }
.x-outline-security-user:before { content: "\ec7b"; }
.x-outline-ftx-token-ftt:before { content: "\ec7c"; }
.x-outline-ethereum-eth:before { content: "\ec7d"; }
.x-outline-icon62:before { content: "\ec7e"; }
.x-outline-polygon-matic:before { content: "\ec7f"; }
.x-outline-xrp-xrp:before { content: "\ec80"; }
.x-outline-binance-coin-bnb:before { content: "\ec81"; }
.x-outline-the-graph-grt:before { content: "\ec82"; }
.x-outline-hex-hex:before { content: "\ec83"; }
.x-outline-tether-usdt:before { content: "\ec84"; }
.x-outline-velas-vlx:before { content: "\ec85"; }
.x-outline-cardano-ada:before { content: "\ec86"; }
.x-outline-litecoinltc:before { content: "\ec87"; }
.x-outline-binance-usd-busd:before { content: "\ec88"; }
.x-outline-chainlink-link:before { content: "\ec89"; }
.x-outline-usd-coin-usdc:before { content: "\ec8a"; }
.x-outline-iost-iost:before { content: "\ec8b"; }
.x-outline-eos-eos:before { content: "\ec8c"; }
.x-outline-stellar-xlm:before { content: "\ec8d"; }
.x-outline-siacoin-sc:before { content: "\ec8e"; }
.x-outline-solana-sol:before { content: "\ec8f"; }
.x-outline-trontron-trx:before { content: "\ec90"; }
.x-outline-huobi-token-ht:before { content: "\ec91"; }
.x-outline-thorchain-rune:before { content: "\ec92"; }
.x-outline-ethereum-classic-etc:before { content: "\ec93"; }
.x-outline-okb-okb:before { content: "\ec94"; }
.x-outline-monero-xmr:before { content: "\ec95"; }
.x-outline-polkadot-dot:before { content: "\ec96"; }
.x-outline-bitcoin-btc:before { content: "\ec97"; }
.x-outline-google:before { content: "\ec98"; }
.x-outline-theta-theta:before { content: "\ec99"; }
.x-outline-ocean-protocol-ocean:before { content: "\ec9a"; }
.x-outline-aave-aave:before { content: "\ec9b"; }
.x-outline-harmony-one:before { content: "\ec9c"; }
.x-outline-avalanche-avax:before { content: "\ec9d"; }
.x-outline-kyber-network-knc:before { content: "\ec9e"; }
.x-outline-nem-xem:before { content: "\ec9f"; }
.x-outline-quant-qnt:before { content: "\eca0"; }
.x-outline-dai-dai:before { content: "\eca1"; }
.x-outline-ankr-ankr:before { content: "\eca2"; }
.x-outline-maker-mkr:before { content: "\eca3"; }
.x-outline-dash-dash:before { content: "\eca4"; }
.x-outline-enjin-coin-enj:before { content: "\eca5"; }
.x-outline-celsius-cel-:before { content: "\eca6"; }
.x-outline-nexo-nexo:before { content: "\eca7"; }
.x-outline-decred-dcr:before { content: "\eca8"; }
.x-outline-ontology-ont:before { content: "\eca9"; }
.x-outline-icon-icx:before { content: "\ecaa"; }
.x-outline-stacks-stx:before { content: "\ecab"; }
.x-outline-celo-celo:before { content: "\ecac"; }
.x-outline-augur-rep:before { content: "\ecad"; }
.x-outline-dent-dent:before { content: "\ecae"; }
.x-outline-civic-cvc:before { content: "\ecaf"; }
.x-outline-wanchain-wan63:before { content: "\ecb0"; }
.x-outline-wanchain-wan64:before { content: "\ecb1"; }
.x-outline-wing-wing:before { content: "\ecb2"; }
.x-outline-nebulas-nas:before { content: "\ecb3"; }
.x-outline-tenx-pay:before { content: "\ecb4"; }
.x-outline-zel-zel:before { content: "\ecb5"; }
.x-outline-educare-ekt:before { content: "\ecb6"; }
.x-outline-polyswarm-nct:before { content: "\ecb7"; }
.x-outline-vibe-vibe:before { content: "\ecb8"; }
.x-outline-emercoin-emc:before { content: "\ecb9"; }
.x-outline-autonio-niox:before { content: "\ecba"; }
.x-outline-html-5:before { content: "\ecbb"; }
.x-outline-java-script:before { content: "\ecbc"; }
.x-outline-html-3:before { content: "\ecbd"; }
.x-outline-apple:before { content: "\ecbe"; }
.x-outline-ui8:before { content: "\ecbf"; }
.x-outline-slack:before { content: "\ecc0"; }
.x-outline-snapchat:before { content: "\ecc1"; }
.x-outline-facebook:before { content: "\ecc2"; }
.x-outline-dropbox:before { content: "\ecc3"; }
.x-outline-js:before { content: "\ecc4"; }
.x-outline-bootstrap:before { content: "\ecc5"; }
.x-outline-triangle65:before { content: "\ecc6"; }
.x-outline-android:before { content: "\ecc7"; }
.x-outline-youtube:before { content: "\ecc8"; }
.x-outline-whatsapp:before { content: "\ecc9"; }
.x-outline-windows:before { content: "\ecca"; }
.x-outline-illustrator:before { content: "\eccb"; }
.x-outline-photoshop:before { content: "\eccc"; }
.x-outline-xd:before { content: "\eccd"; }
.x-outline-trello:before { content: "\ecce"; }
.x-outline-spotify:before { content: "\eccf"; }
.x-outline-vuesax:before { content: "\ecd0"; }
.x-outline-paypal:before { content: "\ecd1"; }
.x-outline-blogger:before { content: "\ecd2"; }
.x-outline-framer:before { content: "\ecd3"; }
.x-outline-google-drive:before { content: "\ecd4"; }
.x-outline-xiaomi:before { content: "\ecd5"; }
.x-outline-be:before { content: "\ecd6"; }
.x-outline-messenger:before { content: "\ecd7"; }
.x-outline-icon66:before { content: "\ecd8"; }
.x-outline-dribbble:before { content: "\ecd9"; }
.x-outline-figma67:before { content: "\ecda"; }
.x-outline-figma68:before { content: "\ecdb"; }
.x-outline-google-paly:before { content: "\ecdc"; }
.x-outline-twitch:before { content: "\ecdd"; }
.x-outline-zoom:before { content: "\ecde"; }
.x-outline-python:before { content: "\ecdf"; }
.x-outline-hedera-hashgraph-hbar:before { content: "\ece0"; }
.x-outline-scissor01:before { content: "\ece1"; }
.x-outline-color-swatch:before { content: "\ece2"; }
.x-outline-pen-tool:before { content: "\ece3"; }
.x-outline-bucket:before { content: "\ece4"; }
.x-outline-tiktok:before { content: "\ece5"; }
.x-outline-telegram:before { content: "\ece6"; }
.x-outline-rrss:before { content: "\ece7"; }
.x-outline-twitter:before { content: "\ece8"; }
.x-outline-star-filled:before { content: "\ece9"; }


/**
 * Make by Icon Font Exporter
 * https://www.figma.com/community/plugin/1129455674275940478/Icon-Font-Exporter
 */
