@font-face {
    font-family: "vuesax-bold";
    src: url('https://cdn.jsdelivr.net/gh/Yerikmiller/3pod-us.github.io@latest/icons/iconsax/vuesax-bold/IconFont.woff2?t=1701178297581') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/Yerikmiller/3pod-us.github.io@latest/icons/iconsax/vuesax-bold/IconFont.woff?t=1701178297581') format('woff'),
        url('https://cdn.jsdelivr.net/gh/Yerikmiller/3pod-us.github.io@latest/icons/iconsax/vuesax-bold/IconFont.ttf?t=1701178297581') format('truetype');
}

.iconfont {
    font-family: "vuesax-bold" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.x-bold-bank:before { content: "\e900"; }
.x-bold-house:before { content: "\e901"; }
.x-bold-buliding:before { content: "\e902"; }
.x-bold-house-2:before { content: "\e903"; }
.x-bold-buildings-2:before { content: "\e904"; }
.x-bold-buildings:before { content: "\e905"; }
.x-bold-courthouse:before { content: "\e906"; }
.x-bold-building-4:before { content: "\e907"; }
.x-bold-hospital:before { content: "\e908"; }
.x-bold-building-3:before { content: "\e909"; }
.x-bold-gemini:before { content: "\e90a"; }
.x-bold-aquarius:before { content: "\e90b"; }
.x-bold-gemini-2:before { content: "\e90c"; }
.x-bold-sagittarius:before { content: "\e90d"; }
.x-bold-book-square:before { content: "\e90e"; }
.x-bold-receipt-square:before { content: "\e90f"; }
.x-bold-save-add:before { content: "\e910"; }
.x-bold-save-2:before { content: "\e911"; }
.x-bold-save-minus:before { content: "\e912"; }
.x-bold-save-remove:before { content: "\e913"; }
.x-bold-book-saved:before { content: "\e914"; }
.x-bold-convert-3d-cube:before { content: "\e915"; }
.x-bold-3d-cube-scan:before { content: "\e916"; }
.x-bold-box16:before { content: "\e917"; }
.x-bold-box-remove:before { content: "\e918"; }
.x-bold-truck-tick:before { content: "\e919"; }
.x-bold-3d-square:before { content: "\e91a"; }
.x-bold-3d-rotate:before { content: "\e91b"; }
.x-bold-box-tick:before { content: "\e91c"; }
.x-bold-box-search:before { content: "\e91d"; }
.x-bold-box-time:before { content: "\e91e"; }
.x-bold-box-add:before { content: "\e91f"; }
.x-bold-truck-remove:before { content: "\e920"; }
.x-bold-box15:before { content: "\e921"; }
.x-bold-truck-fast:before { content: "\e922"; }
.x-bold-truck:before { content: "\e923"; }
.x-bold-truck-time:before { content: "\e924"; }
.x-bold-shopping-bag:before { content: "\e925"; }
.x-bold-barcode:before { content: "\e926"; }
.x-bold-shop-remove:before { content: "\e927"; }
.x-bold-shopping-cart:before { content: "\e928"; }
.x-bold-location-minus:before { content: "\e929"; }
.x-bold-location-slash:before { content: "\e92a"; }
.x-bold-location-tick:before { content: "\e92b"; }
.x-bold-radar46:before { content: "\e92c"; }
.x-bold-global-edit:before { content: "\e92d"; }
.x-bold-global-refresh:before { content: "\e92e"; }
.x-bold-direct-up:before { content: "\e92f"; }
.x-bold-location-cross:before { content: "\e930"; }
.x-bold-direct-down:before { content: "\e931"; }
.x-bold-location:before { content: "\e932"; }
.x-bold-radar-2:before { content: "\e933"; }
.x-bold-global:before { content: "\e934"; }
.x-bold-direct-left:before { content: "\e935"; }
.x-bold-arrow-square:before { content: "\e936"; }
.x-bold-map45:before { content: "\e937"; }
.x-bold-routing:before { content: "\e938"; }
.x-bold-discover47:before { content: "\e939"; }
.x-bold-global-search:before { content: "\e93a"; }
.x-bold-location-add:before { content: "\e93b"; }
.x-bold-gps-slash:before { content: "\e93c"; }
.x-bold-direct-right:before { content: "\e93d"; }
.x-bold-gps:before { content: "\e93e"; }
.x-bold-picture-frame:before { content: "\e93f"; }
.x-bold-routing-2:before { content: "\e940"; }
.x-bold-route-square:before { content: "\e941"; }
.x-bold-map44:before { content: "\e942"; }
.x-bold-arrow:before { content: "\e943"; }
.x-bold-folder-connection:before { content: "\e944"; }
.x-bold-microscope:before { content: "\e945"; }
.x-bold-airdrop:before { content: "\e946"; }
.x-bold-keyboard-open:before { content: "\e947"; }
.x-bold-bluetooth:before { content: "\e948"; }
.x-bold-gameboy:before { content: "\e949"; }
.x-bold-bluetooth-circle:before { content: "\e94a"; }
.x-bold-watch-status:before { content: "\e94b"; }
.x-bold-watch:before { content: "\e94c"; }
.x-bold-mirroring-screen:before { content: "\e94d"; }
.x-bold-electricity:before { content: "\e94e"; }
.x-bold-simcard89:before { content: "\e94f"; }
.x-bold-bluetooth-2:before { content: "\e950"; }
.x-bold-cloud-change:before { content: "\e951"; }
.x-bold-bluetooth-rectangle:before { content: "\e952"; }
.x-bold-driver-2:before { content: "\e953"; }
.x-bold-cloud-remove:before { content: "\e954"; }
.x-bold-external-drive:before { content: "\e955"; }
.x-bold-devices90:before { content: "\e956"; }
.x-bold-music-play:before { content: "\e957"; }
.x-bold-driver-refresh:before { content: "\e958"; }
.x-bold-airpods:before { content: "\e959"; }
.x-bold-driver:before { content: "\e95a"; }
.x-bold-cloud-add:before { content: "\e95b"; }
.x-bold-cloud-connection:before { content: "\e95c"; }
.x-bold-headphones:before { content: "\e95d"; }
.x-bold-candle-2:before { content: "\e95e"; }
.x-bold-menu123:before { content: "\e95f"; }
.x-bold-settings:before { content: "\e960"; }
.x-bold-candle:before { content: "\e961"; }
.x-bold-buy-crypto:before { content: "\e962"; }
.x-bold-bitcoin-card:before { content: "\e963"; }
.x-bold-card-coin:before { content: "\e964"; }
.x-bold-bitcoin-convert:before { content: "\e965"; }
.x-bold-bitcoin-refresh:before { content: "\e966"; }
.x-bold-trade:before { content: "\e967"; }
.x-bold-calendar-tick:before { content: "\e968"; }
.x-bold-calendar-add:before { content: "\e969"; }
.x-bold-calendar-remove:before { content: "\e96a"; }
.x-bold-calendar118:before { content: "\e96b"; }
.x-bold-security-time:before { content: "\e96c"; }
.x-bold-calendar-search:before { content: "\e96d"; }
.x-bold-calendar-2:before { content: "\e96e"; }
.x-bold-calendar-circle:before { content: "\e96f"; }
.x-bold-calendar-edit:before { content: "\e970"; }
.x-bold-grid-eraser:before { content: "\e971"; }
.x-bold-grid-edit:before { content: "\e972"; }
.x-bold-grid-lock:before { content: "\e973"; }
.x-bold-user-octagon:before { content: "\e974"; }
.x-bold-user-search:before { content: "\e975"; }
.x-bold-user-add:before { content: "\e976"; }
.x-bold-user-tag:before { content: "\e977"; }
.x-bold-user-square:before { content: "\e978"; }
.x-bold-user-cirlce-add:before { content: "\e979"; }
.x-bold-user-remove:before { content: "\e97a"; }
.x-bold-tag-user:before { content: "\e97b"; }
.x-bold-user-edit:before { content: "\e97c"; }
.x-bold-user-tick:before { content: "\e97d"; }
.x-bold-user-minus:before { content: "\e97e"; }
.x-bold-people:before { content: "\e97f"; }
.x-bold-user:before { content: "\e980"; }
.x-bold-eraser193:before { content: "\e981"; }
.x-bold-quote-up:before { content: "\e982"; }
.x-bold-quote-down-circle:before { content: "\e983"; }
.x-bold-quote-down:before { content: "\e984"; }
.x-bold-language-circle:before { content: "\e985"; }
.x-bold-attach-circle:before { content: "\e986"; }
.x-bold-link-circle:before { content: "\e987"; }
.x-bold-quote-down-square:before { content: "\e988"; }
.x-bold-quote-up-square:before { content: "\e989"; }
.x-bold-link192:before { content: "\e98a"; }
.x-bold-quote-up-circle:before { content: "\e98b"; }
.x-bold-attach-square:before { content: "\e98c"; }
.x-bold-link-square:before { content: "\e98d"; }
.x-bold-language-square:before { content: "\e98e"; }
.x-bold-translate:before { content: "\e98f"; }
.x-bold-pen-add:before { content: "\e990"; }
.x-bold-bucket-circle:before { content: "\e991"; }
.x-bold-scissor81:before { content: "\e992"; }
.x-bold-color-swatch:before { content: "\e993"; }
.x-bold-brush77:before { content: "\e994"; }
.x-bold-eraser78:before { content: "\e995"; }
.x-bold-flash-circle89:before { content: "\e996"; }
.x-bold-omega-circle:before { content: "\e997"; }
.x-bold-omega-square:before { content: "\e998"; }
.x-bold-recovery-convert:before { content: "\e999"; }
.x-bold-mask79:before { content: "\e99a"; }
.x-bold-colors-square:before { content: "\e99b"; }
.x-bold-main-component:before { content: "\e99c"; }
.x-bold-blur:before { content: "\e99d"; }
.x-bold-mask76:before { content: "\e99e"; }
.x-bold-forward-item:before { content: "\e99f"; }
.x-bold-backward-item:before { content: "\e9a0"; }
.x-bold-component:before { content: "\e9a1"; }
.x-bold-pen-remove:before { content: "\e9a2"; }
.x-bold-shapes82:before { content: "\e9a3"; }
.x-bold-pen-close:before { content: "\e9a4"; }
.x-bold-pen-tool-2:before { content: "\e9a5"; }
.x-bold-bezier:before { content: "\e9a6"; }
.x-bold-bucket-square:before { content: "\e9a7"; }
.x-bold-pen-tool:before { content: "\e9a8"; }
.x-bold-folder-cloud:before { content: "\e9a9"; }
.x-bold-note-favorite:before { content: "\e9aa"; }
.x-bold-creative-commons:before { content: "\e9ab"; }
.x-bold-task-square:before { content: "\e9ac"; }
.x-bold-menu-board:before { content: "\e9ad"; }
.x-bold-bill:before { content: "\e9ae"; }
.x-bold-archive-book:before { content: "\e9af"; }
.x-bold-note-text:before { content: "\e9b0"; }
.x-bold-document-filter:before { content: "\e9b1"; }
.x-bold-copyright:before { content: "\e9b2"; }
.x-bold-messages-2:before { content: "\e9b3"; }
.x-bold-sms-search:before { content: "\e9b4"; }
.x-bold-message-tick:before { content: "\e9b5"; }
.x-bold-message-add96:before { content: "\e9b6"; }
.x-bold-messages97:before { content: "\e9b7"; }
.x-bold-sms:before { content: "\e9b8"; }
.x-bold-messages-3:before { content: "\e9b9"; }
.x-bold-sms-notification:before { content: "\e9ba"; }
.x-bold-message-time:before { content: "\e9bb"; }
.x-bold-message-circle:before { content: "\e9bc"; }
.x-bold-messages95:before { content: "\e9bd"; }
.x-bold-message-square:before { content: "\e9be"; }
.x-bold-message-remove:before { content: "\e9bf"; }
.x-bold-sms-edit:before { content: "\e9c0"; }
.x-bold-sms-star:before { content: "\e9c1"; }
.x-bold-message-2:before { content: "\e9c2"; }
.x-bold-message-search:before { content: "\e9c3"; }
.x-bold-sms-tracking:before { content: "\e9c4"; }
.x-bold-message-edit:before { content: "\e9c5"; }
.x-bold-device-message:before { content: "\e9c6"; }
.x-bold-message-text94:before { content: "\e9c7"; }
.x-bold-message-add93:before { content: "\e9c8"; }
.x-bold-message-minus:before { content: "\e9c9"; }
.x-bold-smart-car:before { content: "\e9ca"; }
.x-bold-driving:before { content: "\e9cb"; }
.x-bold-bus:before { content: "\e9cc"; }
.x-bold-ship:before { content: "\e9cd"; }
.x-bold-gas-station:before { content: "\e9ce"; }
.x-bold-flash149:before { content: "\e9cf"; }
.x-bold-sun-fog:before { content: "\e9d0"; }
.x-bold-wind:before { content: "\e9d1"; }
.x-bold-drop:before { content: "\e9d2"; }
.x-bold-cloud-fog:before { content: "\e9d3"; }
.x-bold-wind-2:before { content: "\e9d4"; }
.x-bold-sun148:before { content: "\e9d5"; }
.x-bold-arrange-square-2:before { content: "\e9d6"; }
.x-bold-back-square:before { content: "\e9d7"; }
.x-bold-received:before { content: "\e9d8"; }
.x-bold-refresh-circle:before { content: "\e9d9"; }
.x-bold-repeat-circle:before { content: "\e9da"; }
.x-bold-arrange-circle:before { content: "\e9db"; }
.x-bold-arrange-circle-2:before { content: "\e9dc"; }
.x-bold-send-sqaure-2:before { content: "\e9dd"; }
.x-bold-refresh-right-square:before { content: "\e9de"; }
.x-bold-forward-square:before { content: "\e9df"; }
.x-bold-send-square:before { content: "\e9e0"; }
.x-bold-receive-square-2:before { content: "\e9e1"; }
.x-bold-receive-square:before { content: "\e9e2"; }
.x-bold-arrange-square:before { content: "\e9e3"; }
.x-bold-refresh-left-square:before { content: "\e9e4"; }
.x-bold-refresh-square-2:before { content: "\e9e5"; }
.x-bold-send180:before { content: "\e9e6"; }
.x-bold-arrow-2:before { content: "\e9e7"; }
.x-bold-repeat:before { content: "\e9e8"; }
.x-bold-arrow-3:before { content: "\e9e9"; }
.x-bold-book36:before { content: "\e9ea"; }
.x-bold-teacher:before { content: "\e9eb"; }
.x-bold-gift:before { content: "\e9ec"; }
.x-bold-note-2:before { content: "\e9ed"; }
.x-bold-note35:before { content: "\e9ee"; }
.x-bold-brifecase-timer:before { content: "\e9ef"; }
.x-bold-briefcase:before { content: "\e9f0"; }
.x-bold-brifecase-cross:before { content: "\e9f1"; }
.x-bold-brifecase-tick:before { content: "\e9f2"; }
.x-bold-bookmark:before { content: "\e9f3"; }
.x-bold-award:before { content: "\e9f4"; }
.x-bold-clipboard:before { content: "\e9f5"; }
.x-bold-book37:before { content: "\e9f6"; }
.x-bold-calculator:before { content: "\e9f7"; }
.x-bold-bookmark-2:before { content: "\e9f8"; }
.x-bold-video-octagon:before { content: "\e9f9"; }
.x-bold-video-remove:before { content: "\e9fa"; }
.x-bold-mini-music-sqaure:before { content: "\e9fb"; }
.x-bold-video-tick:before { content: "\e9fc"; }
.x-bold-audio-square:before { content: "\e9fd"; }
.x-bold-video-add:before { content: "\e9fe"; }
.x-bold-maximize-circle:before { content: "\e9ff"; }
.x-bold-voice-cricle:before { content: "\ea00"; }
.x-bold-music-square:before { content: "\ea01"; }
.x-bold-video-time:before { content: "\ea02"; }
.x-bold-voice-square:before { content: "\ea03"; }
.x-bold-next:before { content: "\ea04"; }
.x-bold-play-cricle:before { content: "\ea05"; }
.x-bold-play-remove:before { content: "\ea06"; }
.x-bold-backward-5-seconds:before { content: "\ea07"; }
.x-bold-forward-15-seconds:before { content: "\ea08"; }
.x-bold-previous:before { content: "\ea09"; }
.x-bold-scissor187:before { content: "\ea0a"; }
.x-bold-backward-10-seconds:before { content: "\ea0b"; }
.x-bold-music-filter:before { content: "\ea0c"; }
.x-bold-forward-10-seconds:before { content: "\ea0d"; }
.x-bold-radio:before { content: "\ea0e"; }
.x-bold-note-square:before { content: "\ea0f"; }
.x-bold-backward-15-seconds:before { content: "\ea10"; }
.x-bold-music-circle:before { content: "\ea11"; }
.x-bold-forward:before { content: "\ea12"; }
.x-bold-play-add:before { content: "\ea13"; }
.x-bold-backward:before { content: "\ea14"; }
.x-bold-music-square-search:before { content: "\ea15"; }
.x-bold-music-dashboard:before { content: "\ea16"; }
.x-bold-music-library-2:before { content: "\ea17"; }
.x-bold-music-square-remove:before { content: "\ea18"; }
.x-bold-repeate-one:before { content: "\ea19"; }
.x-bold-repeate-music:before { content: "\ea1a"; }
.x-bold-music-square-add:before { content: "\ea1b"; }
.x-bold-music-playlist:before { content: "\ea1c"; }
.x-bold-shuffle:before { content: "\ea1d"; }
.x-bold-devices186:before { content: "\ea1e"; }
.x-bold-forward-5-seconds:before { content: "\ea1f"; }
.x-bold-favorite-chart:before { content: "\ea20"; }
.x-bold-chart33:before { content: "\ea21"; }
.x-bold-diagram:before { content: "\ea22"; }
.x-bold-presention-chart:before { content: "\ea23"; }
.x-bold-receipt-search:before { content: "\ea24"; }
.x-bold-cards:before { content: "\ea25"; }
.x-bold-receipt-edit:before { content: "\ea26"; }
.x-bold-empty-wallet-change:before { content: "\ea27"; }
.x-bold-empty-wallet-time:before { content: "\ea28"; }
.x-bold-receipt-discount:before { content: "\ea29"; }
.x-bold-transaction-minus:before { content: "\ea2a"; }
.x-bold-receipt-add:before { content: "\ea2b"; }
.x-bold-money-4:before { content: "\ea2c"; }
.x-bold-wallet-add02:before { content: "\ea2d"; }
.x-bold-money:before { content: "\ea2e"; }
.x-bold-strongbox-2:before { content: "\ea2f"; }
.x-bold-empty-wallet-tick:before { content: "\ea30"; }
.x-bold-empty-wallet-add:before { content: "\ea31"; }
.x-bold-empty-wallet-remove:before { content: "\ea32"; }
.x-bold-percentage-square:before { content: "\ea33"; }
.x-bold-money-3:before { content: "\ea34"; }
.x-bold-wallet-search:before { content: "\ea35"; }
.x-bold-money-2:before { content: "\ea36"; }
.x-bold-wallet-check:before { content: "\ea37"; }
.x-bold-money-recive:before { content: "\ea38"; }
.x-bold-strongbox:before { content: "\ea39"; }
.x-bold-receipt-text:before { content: "\ea3a"; }
.x-bold-money-send:before { content: "\ea3b"; }
.x-bold-security-card:before { content: "\ea3c"; }
.x-bold-archive203:before { content: "\ea3d"; }
.x-bold-receipt11:before { content: "\ea3e"; }
.x-bold-wallet0502:before { content: "\ea3f"; }
.x-bold-money-time:before { content: "\ea40"; }
.x-bold-money-change:before { content: "\ea41"; }
.x-bold-money-tick:before { content: "\ea42"; }
.x-bold-money-forbidden:before { content: "\ea43"; }
.x-bold-wallet-money:before { content: "\ea44"; }
.x-bold-wallet-2:before { content: "\ea45"; }
.x-bold-wallet-remove:before { content: "\ea46"; }
.x-bold-receipt-210:before { content: "\ea47"; }
.x-bold-discount-shape:before { content: "\ea48"; }
.x-bold-convert-card:before { content: "\ea49"; }
.x-bold-wallet-3:before { content: "\ea4a"; }
.x-bold-card-tick12:before { content: "\ea4b"; }
.x-bold-percentage-circle:before { content: "\ea4c"; }
.x-bold-money-add:before { content: "\ea4d"; }
.x-bold-coin04:before { content: "\ea4e"; }
.x-bold-discount-circle:before { content: "\ea4f"; }
.x-bold-moneys:before { content: "\ea50"; }
.x-bold-chart-square:before { content: "\ea51"; }
.x-bold-card-remove08:before { content: "\ea52"; }
.x-bold-money-remove:before { content: "\ea53"; }
.x-bold-receipt-minus:before { content: "\ea54"; }
.x-bold-receipt-item:before { content: "\ea55"; }
.x-bold-empty-wallet:before { content: "\ea56"; }
.x-bold-eye:before { content: "\ea57"; }
.x-bold-eye-slash:before { content: "\ea58"; }
.x-bold-shield-tick:before { content: "\ea59"; }
.x-bold-shield-cross:before { content: "\ea5a"; }
.x-bold-password-check:before { content: "\ea5b"; }
.x-bold-frame141:before { content: "\ea5c"; }
.x-bold-shield-slash:before { content: "\ea5d"; }
.x-bold-shield-security:before { content: "\ea5e"; }
.x-bold-lock140:before { content: "\ea5f"; }
.x-bold-scan:before { content: "\ea60"; }
.x-bold-lock-slash:before { content: "\ea61"; }
.x-bold-scanning:before { content: "\ea62"; }
.x-bold-scan-barcode:before { content: "\ea63"; }
.x-bold-finger-cricle:before { content: "\ea64"; }
.x-bold-finger-scan:before { content: "\ea65"; }
.x-bold-scanner:before { content: "\ea66"; }
.x-bold-shield-search:before { content: "\ea67"; }
.x-bold-key:before { content: "\ea68"; }
.x-bold-radar138:before { content: "\ea69"; }
.x-bold-lock139:before { content: "\ea6a"; }
.x-bold-security-safe:before { content: "\ea6b"; }
.x-bold-key-square:before { content: "\ea6c"; }
.x-bold-unlock:before { content: "\ea6d"; }
.x-bold-check:before { content: "\ea6e"; }
.x-bold-alarm:before { content: "\ea6f"; }
.x-bold-security-user:before { content: "\ea70"; }
.x-bold-lock-circle:before { content: "\ea71"; }
.x-bold-security:before { content: "\ea72"; }
.x-bold-message-question:before { content: "\ea73"; }
.x-bold-like-tag:before { content: "\ea74"; }
.x-bold-lovely:before { content: "\ea75"; }
.x-bold-like-shapes:before { content: "\ea76"; }
.x-bold-heart-tick:before { content: "\ea77"; }
.x-bold-smileys:before { content: "\ea78"; }
.x-bold-like-dislike:before { content: "\ea79"; }
.x-bold-24-support:before { content: "\ea7a"; }
.x-bold-like101:before { content: "\ea7b"; }
.x-bold-heart-circle:before { content: "\ea7c"; }
.x-bold-medal:before { content: "\ea7d"; }
.x-bold-heart-remove:before { content: "\ea7e"; }
.x-bold-heart-add:before { content: "\ea7f"; }
.x-bold-heart-slash:before { content: "\ea80"; }
.x-bold-heart-search:before { content: "\ea81"; }
.x-bold-unlimited:before { content: "\ea82"; }
.x-bold-medal-star:before { content: "\ea83"; }
.x-bold-heart-edit:before { content: "\ea84"; }
.x-bold-ranking102:before { content: "\ea85"; }
.x-bold-magic-star:before { content: "\ea86"; }
.x-bold-star103:before { content: "\ea87"; }
.x-bold-command-square:before { content: "\ea88"; }
.x-bold-programming-arrows:before { content: "\ea89"; }
.x-bold-hierarchy-3:before { content: "\ea8a"; }
.x-bold-document-code:before { content: "\ea8b"; }
.x-bold-data-2:before { content: "\ea8c"; }
.x-bold-message-programming:before { content: "\ea8d"; }
.x-bold-document-code-2:before { content: "\ea8e"; }
.x-bold-hierarchy-square:before { content: "\ea8f"; }
.x-bold-code-circle:before { content: "\ea90"; }
.x-bold-mobile-programming:before { content: "\ea91"; }
.x-bold-data:before { content: "\ea92"; }
.x-bold-programming-arrow:before { content: "\ea93"; }
.x-bold-command:before { content: "\ea94"; }
.x-bold-hierarchy-square-3:before { content: "\ea95"; }
.x-bold-hierarchy-square-2:before { content: "\ea96"; }
.x-bold-hierarchy-2:before { content: "\ea97"; }
.x-bold-hierarchy:before { content: "\ea98"; }
.x-bold-grammerly:before { content: "\ea99"; }
.x-bold-status:before { content: "\ea9a"; }
.x-bold-box-2:before { content: "\ea9b"; }
.x-bold-slider:before { content: "\ea9c"; }
.x-bold-story:before { content: "\ea9d"; }
.x-bold-speedometer:before { content: "\ea9e"; }
.x-bold-wifi:before { content: "\ea9f"; }
.x-bold-wifi-square:before { content: "\eaa0"; }
.x-bold-cd:before { content: "\eaa1"; }
.x-bold-trush-square:before { content: "\eaa2"; }
.x-bold-lamp67:before { content: "\eaa3"; }
.x-bold-mirror:before { content: "\eaa4"; }
.x-bold-diamonds:before { content: "\eaa5"; }
.x-bold-tag-right:before { content: "\eaa6"; }
.x-bold-ranking66:before { content: "\eaa7"; }
.x-bold-filter-remove:before { content: "\eaa8"; }
.x-bold-mouse-circle:before { content: "\eaa9"; }
.x-bold-filter-edit:before { content: "\eaaa"; }
.x-bold-filter-search:before { content: "\eaab"; }
.x-bold-home64:before { content: "\eaac"; }
.x-bold-judge:before { content: "\eaad"; }
.x-bold-level:before { content: "\eaae"; }
.x-bold-tree:before { content: "\eaaf"; }
.x-bold-mouse-square:before { content: "\eab0"; }
.x-bold-forbidden:before { content: "\eab1"; }
.x-bold-mouse65:before { content: "\eab2"; }
.x-bold-warning-2:before { content: "\eab3"; }
.x-bold-filter-tick:before { content: "\eab4"; }
.x-bold-home-wifi:before { content: "\eab5"; }
.x-bold-smart-home:before { content: "\eab6"; }
.x-bold-safe-home:before { content: "\eab7"; }
.x-bold-filter-add:before { content: "\eab8"; }
.x-bold-broom:before { content: "\eab9"; }
.x-bold-forbidden-2:before { content: "\eaba"; }
.x-bold-milk:before { content: "\eabb"; }
.x-bold-signpost:before { content: "\eabc"; }
.x-bold-bubble:before { content: "\eabd"; }
.x-bold-ghost:before { content: "\eabe"; }
.x-bold-building:before { content: "\eabf"; }
.x-bold-man:before { content: "\eac0"; }
.x-bold-woman:before { content: "\eac1"; }
.x-bold-archive-add:before { content: "\eac2"; }
.x-bold-archive-slash:before { content: "\eac3"; }
.x-bold-archive-tick:before { content: "\eac4"; }
.x-bold-archive-minus:before { content: "\eac5"; }
.x-bold-archive120:before { content: "\eac6"; }
.x-bold-bag-happy:before { content: "\eac7"; }
.x-bold-bag-tick:before { content: "\eac8"; }
.x-bold-bag-tick-2:before { content: "\eac9"; }
.x-bold-bag-cross41:before { content: "\eaca"; }
.x-bold-bag:before { content: "\eacb"; }
.x-bold-bag-cross40:before { content: "\eacc"; }
.x-bold-shop-add:before { content: "\eacd"; }
.x-bold-bag-2:before { content: "\eace"; }
.x-bold-bag-timer:before { content: "\eacf"; }
.x-bold-shop:before { content: "\ead0"; }
.x-bold-clock88:before { content: "\ead1"; }
.x-bold-mouse87:before { content: "\ead2"; }
.x-bold-ram-2:before { content: "\ead3"; }
.x-bold-keyboard:before { content: "\ead4"; }
.x-bold-lamp86:before { content: "\ead5"; }
.x-bold-mobile:before { content: "\ead6"; }
.x-bold-simcard85:before { content: "\ead7"; }
.x-bold-simcard-2:before { content: "\ead8"; }
.x-bold-cpu-charge:before { content: "\ead9"; }
.x-bold-headphone:before { content: "\eada"; }
.x-bold-cpu:before { content: "\eadb"; }
.x-bold-printer:before { content: "\eadc"; }
.x-bold-cpu-setting:before { content: "\eadd"; }
.x-bold-monitor:before { content: "\eade"; }
.x-bold-printer-slash:before { content: "\eadf"; }
.x-bold-monitor-mobbile:before { content: "\eae0"; }
.x-bold-airpod:before { content: "\eae1"; }
.x-bold-monitor-recorder:before { content: "\eae2"; }
.x-bold-speaker:before { content: "\eae3"; }
.x-bold-game:before { content: "\eae4"; }
.x-bold-ram:before { content: "\eae5"; }
.x-bold-weight84:before { content: "\eae6"; }
.x-bold-category:before { content: "\eae7"; }
.x-bold-category-2:before { content: "\eae8"; }
.x-bold-more:before { content: "\eae9"; }
.x-bold-toggle-on-circle:before { content: "\eaea"; }
.x-bold-setting-4:before { content: "\eaeb"; }
.x-bold-more-2:before { content: "\eaec"; }
.x-bold-setting:before { content: "\eaed"; }
.x-bold-toggle-on:before { content: "\eaee"; }
.x-bold-toggle-off:before { content: "\eaef"; }
.x-bold-setting-3:before { content: "\eaf0"; }
.x-bold-setting-2:before { content: "\eaf1"; }
.x-bold-setting-5:before { content: "\eaf2"; }
.x-bold-toggle-off-circle:before { content: "\eaf3"; }
.x-bold-timer-start:before { content: "\eaf4"; }
.x-bold-clock117:before { content: "\eaf5"; }
.x-bold-calendar116:before { content: "\eaf6"; }
.x-bold-timer115:before { content: "\eaf7"; }
.x-bold-timer-pause:before { content: "\eaf8"; }
.x-bold-timer114:before { content: "\eaf9"; }
.x-bold-grid-2:before { content: "\eafa"; }
.x-bold-fatrows:before { content: "\eafb"; }
.x-bold-grid-4:before { content: "\eafc"; }
.x-bold-slider-horizontal28:before { content: "\eafd"; }
.x-bold-slider-vertical27:before { content: "\eafe"; }
.x-bold-slider-vertical26:before { content: "\eaff"; }
.x-bold-grid-9:before { content: "\eb00"; }
.x-bold-slider-horizontal25:before { content: "\eb01"; }
.x-bold-row-vertical:before { content: "\eb02"; }
.x-bold-row-horizontal:before { content: "\eb03"; }
.x-bold-grid-3:before { content: "\eb04"; }
.x-bold-grid-5:before { content: "\eb05"; }
.x-bold-grid-6:before { content: "\eb06"; }
.x-bold-grid-7:before { content: "\eb07"; }
.x-bold-grid-8:before { content: "\eb08"; }
.x-bold-element-2:before { content: "\eb09"; }
.x-bold-frame24:before { content: "\eb0a"; }
.x-bold-element-3:before { content: "\eb0b"; }
.x-bold-element-4:before { content: "\eb0c"; }
.x-bold-element-plus:before { content: "\eb0d"; }
.x-bold-align-horizontally:before { content: "\eb0e"; }
.x-bold-grid-1:before { content: "\eb0f"; }
.x-bold-align-left:before { content: "\eb10"; }
.x-bold-format-square:before { content: "\eb11"; }
.x-bold-convertshape:before { content: "\eb12"; }
.x-bold-maximize-4:before { content: "\eb13"; }
.x-bold-kanban:before { content: "\eb14"; }
.x-bold-frame23:before { content: "\eb15"; }
.x-bold-3square:before { content: "\eb16"; }
.x-bold-maximize22:before { content: "\eb17"; }
.x-bold-align-bottom:before { content: "\eb18"; }
.x-bold-maximize-2:before { content: "\eb19"; }
.x-bold-align-vertically:before { content: "\eb1a"; }
.x-bold-align-right:before { content: "\eb1b"; }
.x-bold-crop:before { content: "\eb1c"; }
.x-bold-rotate-left21:before { content: "\eb1d"; }
.x-bold-element-equal:before { content: "\eb1e"; }
.x-bold-maximize-3:before { content: "\eb1f"; }
.x-bold-rotate-right20:before { content: "\eb20"; }
.x-bold-format-circle:before { content: "\eb21"; }
.x-bold-convertshape-2:before { content: "\eb22"; }
.x-bold-maximize19:before { content: "\eb23"; }
.x-bold-frame145:before { content: "\eb24"; }
.x-bold-profile-tick:before { content: "\eb25"; }
.x-bold-profile-remove:before { content: "\eb26"; }
.x-bold-profile-delete:before { content: "\eb27"; }
.x-bold-profile-add:before { content: "\eb28"; }
.x-bold-profile-2user:before { content: "\eb29"; }
.x-bold-profile-circle:before { content: "\eb2a"; }
.x-bold-textalign-center:before { content: "\eb2b"; }
.x-bold-textalign-left:before { content: "\eb2c"; }
.x-bold-textalign-justifyright:before { content: "\eb2d"; }
.x-bold-link191:before { content: "\eb2e"; }
.x-bold-pharagraphspacing:before { content: "\eb2f"; }
.x-bold-textalign-right:before { content: "\eb30"; }
.x-bold-link190:before { content: "\eb31"; }
.x-bold-textalign-justifycenter:before { content: "\eb32"; }
.x-bold-textalign-justifyleft:before { content: "\eb33"; }
.x-bold-maximize189:before { content: "\eb34"; }
.x-bold-text-bold:before { content: "\eb35"; }
.x-bold-smallcaps:before { content: "\eb36"; }
.x-bold-link-2:before { content: "\eb37"; }
.x-bold-text-block:before { content: "\eb38"; }
.x-bold-text-underline:before { content: "\eb39"; }
.x-bold-paperclip-2:before { content: "\eb3a"; }
.x-bold-firstline:before { content: "\eb3b"; }
.x-bold-paperclip:before { content: "\eb3c"; }
.x-bold-text-italic:before { content: "\eb3d"; }
.x-bold-text:before { content: "\eb3e"; }
.x-bold-bucket:before { content: "\eb3f"; }
.x-bold-brush75:before { content: "\eb40"; }
.x-bold-designtools:before { content: "\eb41"; }
.x-bold-paintbucket:before { content: "\eb42"; }
.x-bold-additem:before { content: "\eb43"; }
.x-bold-ruler:before { content: "\eb44"; }
.x-bold-path:before { content: "\eb45"; }
.x-bold-ruler-pen:before { content: "\eb46"; }
.x-bold-shapes74:before { content: "\eb47"; }
.x-bold-glass73:before { content: "\eb48"; }
.x-bold-blend-2:before { content: "\eb49"; }
.x-bold-mask72:before { content: "\eb4a"; }
.x-bold-blend:before { content: "\eb4b"; }
.x-bold-size:before { content: "\eb4c"; }
.x-bold-copy:before { content: "\eb4d"; }
.x-bold-colorfilter:before { content: "\eb4e"; }
.x-bold-copy-success:before { content: "\eb4f"; }
.x-bold-layer:before { content: "\eb50"; }
.x-bold-magicpen:before { content: "\eb51"; }
.x-bold-brush71:before { content: "\eb52"; }
.x-bold-path-2:before { content: "\eb53"; }
.x-bold-lifebuoy:before { content: "\eb54"; }
.x-bold-brush85:before { content: "\eb55"; }
.x-bold-brush69:before { content: "\eb56"; }
.x-bold-folder:before { content: "\eb57"; }
.x-bold-folder-favorite:before { content: "\eb58"; }
.x-bold-folder-open:before { content: "\eb59"; }
.x-bold-folder-cross:before { content: "\eb5a"; }
.x-bold-folder-minus:before { content: "\eb5b"; }
.x-bold-folder-add:before { content: "\eb5c"; }
.x-bold-folder-2:before { content: "\eb5d"; }
.x-bold-note-remove:before { content: "\eb5e"; }
.x-bold-task:before { content: "\eb5f"; }
.x-bold-stickynote:before { content: "\eb60"; }
.x-bold-note136:before { content: "\eb61"; }
.x-bold-note-add:before { content: "\eb62"; }
.x-bold-document-forward:before { content: "\eb63"; }
.x-bold-document-favorite:before { content: "\eb64"; }
.x-bold-document-upload:before { content: "\eb65"; }
.x-bold-document-copy:before { content: "\eb66"; }
.x-bold-document-text135:before { content: "\eb67"; }
.x-bold-document-previous:before { content: "\eb68"; }
.x-bold-clipboard-close:before { content: "\eb69"; }
.x-bold-note134:before { content: "\eb6a"; }
.x-bold-edit:before { content: "\eb6b"; }
.x-bold-document-normal:before { content: "\eb6c"; }
.x-bold-document133:before { content: "\eb6d"; }
.x-bold-document-text132:before { content: "\eb6e"; }
.x-bold-document-cloud:before { content: "\eb6f"; }
.x-bold-edit-2:before { content: "\eb70"; }
.x-bold-document-sketch:before { content: "\eb71"; }
.x-bold-clipboard-text:before { content: "\eb72"; }
.x-bold-clipboard-export:before { content: "\eb73"; }
.x-bold-clipboard-tick:before { content: "\eb74"; }
.x-bold-document-like:before { content: "\eb75"; }
.x-bold-clipboard-import:before { content: "\eb76"; }
.x-bold-document-download:before { content: "\eb77"; }
.x-bold-directbox-receive:before { content: "\eb78"; }
.x-bold-directbox-default:before { content: "\eb79"; }
.x-bold-direct-inbox:before { content: "\eb7a"; }
.x-bold-directbox-notif:before { content: "\eb7b"; }
.x-bold-direct-normal:before { content: "\eb7c"; }
.x-bold-message-notif:before { content: "\eb7d"; }
.x-bold-message-text92:before { content: "\eb7e"; }
.x-bold-directbox-send:before { content: "\eb7f"; }
.x-bold-direct-notification:before { content: "\eb80"; }
.x-bold-direct:before { content: "\eb81"; }
.x-bold-direct-send:before { content: "\eb82"; }
.x-bold-message:before { content: "\eb83"; }
.x-bold-message-favorite:before { content: "\eb84"; }
.x-bold-airplane:before { content: "\eb85"; }
.x-bold-car:before { content: "\eb86"; }
.x-bold-airplane-square:before { content: "\eb87"; }
.x-bold-cloud-minus:before { content: "\eb88"; }
.x-bold-cloud-notif:before { content: "\eb89"; }
.x-bold-moon:before { content: "\eb8a"; }
.x-bold-cloud-plus:before { content: "\eb8b"; }
.x-bold-cloud:before { content: "\eb8c"; }
.x-bold-sun147:before { content: "\eb8d"; }
.x-bold-cloud-drizzle:before { content: "\eb8e"; }
.x-bold-cloud-cross:before { content: "\eb8f"; }
.x-bold-cloud-sunny:before { content: "\eb90"; }
.x-bold-cloud-snow:before { content: "\eb91"; }
.x-bold-cloud-lightning:before { content: "\eb92"; }
.x-bold-login179:before { content: "\eb93"; }
.x-bold-arrow-right178:before { content: "\eb94"; }
.x-bold-rotate-right177:before { content: "\eb95"; }
.x-bold-arrow-circle-left:before { content: "\eb96"; }
.x-bold-undo:before { content: "\eb97"; }
.x-bold-redo:before { content: "\eb98"; }
.x-bold-arrow-up176:before { content: "\eb99"; }
.x-bold-arrow-up175:before { content: "\eb9a"; }
.x-bold-arrow-right174:before { content: "\eb9b"; }
.x-bold-arrow-circle-right:before { content: "\eb9c"; }
.x-bold-arrow-right173:before { content: "\eb9d"; }
.x-bold-arrow-swap-horizontal:before { content: "\eb9e"; }
.x-bold-arrow-down172:before { content: "\eb9f"; }
.x-bold-refresh-2:before { content: "\eba0"; }
.x-bold-arrow-up171:before { content: "\eba1"; }
.x-bold-rotate-left170:before { content: "\eba2"; }
.x-bold-arrow-left169:before { content: "\eba3"; }
.x-bold-arrow-left168:before { content: "\eba4"; }
.x-bold-arrow-down167:before { content: "\eba5"; }
.x-bold-arrow-circle-up:before { content: "\eba6"; }
.x-bold-arrow-square-down:before { content: "\eba7"; }
.x-bold-arrow-square-right:before { content: "\eba8"; }
.x-bold-import166:before { content: "\eba9"; }
.x-bold-import165:before { content: "\ebaa"; }
.x-bold-export164:before { content: "\ebab"; }
.x-bold-export163:before { content: "\ebac"; }
.x-bold-logout162:before { content: "\ebad"; }
.x-bold-refresh:before { content: "\ebae"; }
.x-bold-login161:before { content: "\ebaf"; }
.x-bold-arrow-down160:before { content: "\ebb0"; }
.x-bold-import159:before { content: "\ebb1"; }
.x-bold-export158:before { content: "\ebb2"; }
.x-bold-export157:before { content: "\ebb3"; }
.x-bold-import156:before { content: "\ebb4"; }
.x-bold-arrow-left155:before { content: "\ebb5"; }
.x-bold-logout154:before { content: "\ebb6"; }
.x-bold-convert:before { content: "\ebb7"; }
.x-bold-arrow-bottom:before { content: "\ebb8"; }
.x-bold-arrow-square-up:before { content: "\ebb9"; }
.x-bold-arrow-left153:before { content: "\ebba"; }
.x-bold-arrow-swap:before { content: "\ebbb"; }
.x-bold-arrow-up152:before { content: "\ebbc"; }
.x-bold-arrow-square-left:before { content: "\ebbd"; }
.x-bold-arrow-right151:before { content: "\ebbe"; }
.x-bold-arrow-circle-down:before { content: "\ebbf"; }
.x-bold-microphone-slash185:before { content: "\ebc0"; }
.x-bold-microphone-2:before { content: "\ebc1"; }
.x-bold-volume-low184:before { content: "\ebc2"; }
.x-bold-volume-up:before { content: "\ebc3"; }
.x-bold-volume-low183:before { content: "\ebc4"; }
.x-bold-video:before { content: "\ebc5"; }
.x-bold-volume-slash:before { content: "\ebc6"; }
.x-bold-video-slash:before { content: "\ebc7"; }
.x-bold-volume-high:before { content: "\ebc8"; }
.x-bold-gallery:before { content: "\ebc9"; }
.x-bold-video-circle:before { content: "\ebca"; }
.x-bold-gallery-favorite:before { content: "\ebcb"; }
.x-bold-volume-mute:before { content: "\ebcc"; }
.x-bold-video-square:before { content: "\ebcd"; }
.x-bold-gallery-slash:before { content: "\ebce"; }
.x-bold-gallery-import:before { content: "\ebcf"; }
.x-bold-gallery-tick:before { content: "\ebd0"; }
.x-bold-gallery-export:before { content: "\ebd1"; }
.x-bold-gallery-add:before { content: "\ebd2"; }
.x-bold-play:before { content: "\ebd3"; }
.x-bold-musicnote:before { content: "\ebd4"; }
.x-bold-stop:before { content: "\ebd5"; }
.x-bold-screenmirroring:before { content: "\ebd6"; }
.x-bold-music:before { content: "\ebd7"; }
.x-bold-video-play:before { content: "\ebd8"; }
.x-bold-record:before { content: "\ebd9"; }
.x-bold-gallery-edit:before { content: "\ebda"; }
.x-bold-gallery-remove:before { content: "\ebdb"; }
.x-bold-pause:before { content: "\ebdc"; }
.x-bold-record-circle:before { content: "\ebdd"; }
.x-bold-stop-circle:before { content: "\ebde"; }
.x-bold-microphone:before { content: "\ebdf"; }
.x-bold-volume-cross:before { content: "\ebe0"; }
.x-bold-microphone-slash182:before { content: "\ebe1"; }
.x-bold-camera-slash:before { content: "\ebe2"; }
.x-bold-camera:before { content: "\ebe3"; }
.x-bold-image:before { content: "\ebe4"; }
.x-bold-video-vertical:before { content: "\ebe5"; }
.x-bold-video-horizontal:before { content: "\ebe6"; }
.x-bold-subtitle:before { content: "\ebe7"; }
.x-bold-play-circle:before { content: "\ebe8"; }
.x-bold-pause-circle:before { content: "\ebe9"; }
.x-bold-trend-up:before { content: "\ebea"; }
.x-bold-chart32:before { content: "\ebeb"; }
.x-bold-hashtag31:before { content: "\ebec"; }
.x-bold-status-up:before { content: "\ebed"; }
.x-bold-personalcard:before { content: "\ebee"; }
.x-bold-home-trend-up:before { content: "\ebef"; }
.x-bold-health:before { content: "\ebf0"; }
.x-bold-chart-2:before { content: "\ebf1"; }
.x-bold-chart-success:before { content: "\ebf2"; }
.x-bold-chart-fail:before { content: "\ebf3"; }
.x-bold-chart30:before { content: "\ebf4"; }
.x-bold-trend-down:before { content: "\ebf5"; }
.x-bold-home-trend-down:before { content: "\ebf6"; }
.x-bold-home-hashtag:before { content: "\ebf7"; }
.x-bold-activity:before { content: "\ebf8"; }
.x-bold-graph:before { content: "\ebf9"; }
.x-bold-wallet0503:before { content: "\ebfa"; }
.x-bold-card-remove15:before { content: "\ebfb"; }
.x-bold-card-pos:before { content: "\ebfc"; }
.x-bold-dollar-square:before { content: "\ebfd"; }
.x-bold-card-tick06:before { content: "\ebfe"; }
.x-bold-tag:before { content: "\ebff"; }
.x-bold-coin199:before { content: "\ec00"; }
.x-bold-card-add:before { content: "\ec01"; }
.x-bold-card-send:before { content: "\ec02"; }
.x-bold-wallet-add198:before { content: "\ec03"; }
.x-bold-card-receive:before { content: "\ec04"; }
.x-bold-card:before { content: "\ec05"; }
.x-bold-card-slash:before { content: "\ec06"; }
.x-bold-tag-2:before { content: "\ec07"; }
.x-bold-card-edit:before { content: "\ec08"; }
.x-bold-wallet-minus:before { content: "\ec09"; }
.x-bold-receipt-2197:before { content: "\ec0a"; }
.x-bold-receipt-disscount:before { content: "\ec0b"; }
.x-bold-receipt196:before { content: "\ec0c"; }
.x-bold-ticket:before { content: "\ec0d"; }
.x-bold-ticket-expired:before { content: "\ec0e"; }
.x-bold-ticket-star:before { content: "\ec0f"; }
.x-bold-dollar-circle:before { content: "\ec10"; }
.x-bold-ticket-2:before { content: "\ec11"; }
.x-bold-math:before { content: "\ec12"; }
.x-bold-document195:before { content: "\ec13"; }
.x-bold-ticket-discount:before { content: "\ec14"; }
.x-bold-lamp-slash:before { content: "\ec15"; }
.x-bold-notification-bing:before { content: "\ec16"; }
.x-bold-lamp-charge:before { content: "\ec17"; }
.x-bold-notification-status:before { content: "\ec18"; }
.x-bold-notification137:before { content: "\ec19"; }
.x-bold-notification129:before { content: "\ec1a"; }
.x-bold-frame128:before { content: "\ec1b"; }
.x-bold-lamp-on:before { content: "\ec1c"; }
.x-bold-notification-favorite:before { content: "\ec1d"; }
.x-bold-dislike:before { content: "\ec1e"; }
.x-bold-heart:before { content: "\ec1f"; }
.x-bold-like100:before { content: "\ec20"; }
.x-bold-star-slash:before { content: "\ec21"; }
.x-bold-star99:before { content: "\ec22"; }
.x-bold-sidebar-top:before { content: "\ec23"; }
.x-bold-sidebar-bottom:before { content: "\ec24"; }
.x-bold-hashtag-down:before { content: "\ec25"; }
.x-bold-hashtag-up:before { content: "\ec26"; }
.x-bold-sidebar-right:before { content: "\ec27"; }
.x-bold-code126:before { content: "\ec28"; }
.x-bold-scroll:before { content: "\ec29"; }
.x-bold-code125:before { content: "\ec2a"; }
.x-bold-hashtag124:before { content: "\ec2b"; }
.x-bold-sidebar-left:before { content: "\ec2c"; }
.x-bold-call-slash:before { content: "\ec2d"; }
.x-bold-call-incoming:before { content: "\ec2e"; }
.x-bold-call-outgoing:before { content: "\ec2f"; }
.x-bold-call-minus:before { content: "\ec30"; }
.x-bold-call-received:before { content: "\ec31"; }
.x-bold-call-add:before { content: "\ec32"; }
.x-bold-call-calling:before { content: "\ec33"; }
.x-bold-call:before { content: "\ec34"; }
.x-bold-call-remove:before { content: "\ec35"; }
.x-bold-add-circle:before { content: "\ec36"; }
.x-bold-menu63:before { content: "\ec37"; }
.x-bold-flash62:before { content: "\ec38"; }
.x-bold-crown61:before { content: "\ec39"; }
.x-bold-sort:before { content: "\ec3a"; }
.x-bold-send60:before { content: "\ec3b"; }
.x-bold-minus-square:before { content: "\ec3c"; }
.x-bold-tick-circle:before { content: "\ec3d"; }
.x-bold-close-circle:before { content: "\ec3e"; }
.x-bold-home-2:before { content: "\ec3f"; }
.x-bold-more-square:before { content: "\ec40"; }
.x-bold-cake:before { content: "\ec41"; }
.x-bold-minus:before { content: "\ec42"; }
.x-bold-tick-square:before { content: "\ec43"; }
.x-bold-home59:before { content: "\ec44"; }
.x-bold-battery-disable:before { content: "\ec45"; }
.x-bold-add-square:before { content: "\ec46"; }
.x-bold-danger:before { content: "\ec47"; }
.x-bold-flag-2:before { content: "\ec48"; }
.x-bold-add:before { content: "\ec49"; }
.x-bold-minus-cirlce:before { content: "\ec4a"; }
.x-bold-battery-charging:before { content: "\ec4b"; }
.x-bold-info-circle:before { content: "\ec4c"; }
.x-bold-send-2:before { content: "\ec4d"; }
.x-bold-flash-circle58:before { content: "\ec4e"; }
.x-bold-more-circle:before { content: "\ec4f"; }
.x-bold-battery-full:before { content: "\ec50"; }
.x-bold-battery-empty57:before { content: "\ec51"; }
.x-bold-battery-2-3full:before { content: "\ec52"; }
.x-bold-battery-empty56:before { content: "\ec53"; }
.x-bold-trash:before { content: "\ec54"; }
.x-bold-verify:before { content: "\ec55"; }
.x-bold-information:before { content: "\ec56"; }
.x-bold-sound:before { content: "\ec57"; }
.x-bold-triangle55:before { content: "\ec58"; }
.x-bold-sticker:before { content: "\ec59"; }
.x-bold-computing:before { content: "\ec5a"; }
.x-bold-happyemoji:before { content: "\ec5b"; }
.x-bold-filter:before { content: "\ec5c"; }
.x-bold-discover54:before { content: "\ec5d"; }
.x-bold-weight53:before { content: "\ec5e"; }
.x-bold-filter-square:before { content: "\ec5f"; }
.x-bold-reserve:before { content: "\ec60"; }
.x-bold-autobrightness:before { content: "\ec61"; }
.x-bold-chrome:before { content: "\ec62"; }
.x-bold-pet:before { content: "\ec63"; }
.x-bold-3dcube:before { content: "\ec64"; }
.x-bold-glass52:before { content: "\ec65"; }
.x-bold-instagram:before { content: "\ec66"; }
.x-bold-emoji-sad:before { content: "\ec67"; }
.x-bold-archive51:before { content: "\ec68"; }
.x-bold-cup:before { content: "\ec69"; }
.x-bold-coffee:before { content: "\ec6a"; }
.x-bold-slash:before { content: "\ec6b"; }
.x-bold-share:before { content: "\ec6c"; }
.x-bold-crown50:before { content: "\ec6d"; }
.x-bold-emoji-happy:before { content: "\ec6e"; }
.x-bold-flag:before { content: "\ec6f"; }
.x-bold-chart49:before { content: "\ec70"; }
.x-bold-flash-slash:before { content: "\ec71"; }
.x-bold-emoji-normal:before { content: "\ec72"; }
.x-bold-close-square:before { content: "\ec73"; }
.x-bold-tag-cross:before { content: "\ec74"; }
.x-bold-search-normal11:before { content: "\ec75"; }
.x-bold-search-zoom-in10:before { content: "\ec76"; }
.x-bold-search-zoom-out09:before { content: "\ec77"; }
.x-bold-search-favorite08:before { content: "\ec78"; }
.x-bold-search-status07:before { content: "\ec79"; }
.x-bold-search-normal06:before { content: "\ec7a"; }
.x-bold-search-zoom-in05:before { content: "\ec7b"; }
.x-bold-search-zoom-out04:before { content: "\ec7c"; }
.x-bold-search-favorite03:before { content: "\ec7d"; }
.x-bold-search-status12:before { content: "\ec7e"; }
.x-bold-path-square:before { content: "\ec7f"; }
.x-bold-thorchain-rune:before { content: "\ec80"; }
.x-bold-binance-coin-bnb:before { content: "\ec81"; }
.x-bold-google113:before { content: "\ec82"; }
.x-bold-decred-dcr:before { content: "\ec83"; }
.x-bold-ethereum-classic-etc:before { content: "\ec84"; }
.x-bold-cardano-ada:before { content: "\ec85"; }
.x-bold-ontology-ont:before { content: "\ec86"; }
.x-bold-icon-icx:before { content: "\ec87"; }
.x-bold-binance-usd-busd:before { content: "\ec88"; }
.x-bold-siacoin-sc:before { content: "\ec89"; }
.x-bold-chainlink-link:before { content: "\ec8a"; }
.x-bold-harmony-one:before { content: "\ec8b"; }
.x-bold-solana-sol:before { content: "\ec8c"; }
.x-bold-ftx-token-ftt:before { content: "\ec8d"; }
.x-bold-quant-qnt:before { content: "\ec8e"; }
.x-bold-xrp-xrp:before { content: "\ec8f"; }
.x-bold-ankr-ankr:before { content: "\ec90"; }
.x-bold-framer:before { content: "\ec91"; }
.x-bold-huobi-token-ht:before { content: "\ec92"; }
.x-bold-augur-rep:before { content: "\ec93"; }
.x-bold-be:before { content: "\ec94"; }
.x-bold-okb-okb:before { content: "\ec95"; }
.x-bold-monero-xmr:before { content: "\ec96"; }
.x-bold-polkadot-dot:before { content: "\ec97"; }
.x-bold-velas-vlx:before { content: "\ec98"; }
.x-bold-stellar-xlm:before { content: "\ec99"; }
.x-bold-dash-dash:before { content: "\ec9a"; }
.x-bold-nexo-nexo:before { content: "\ec9b"; }
.x-bold-bitcoin-btc:before { content: "\ec9c"; }
.x-bold-dribbble:before { content: "\ec9d"; }
.x-bold-civic-cvc:before { content: "\ec9e"; }
.x-bold-messenger:before { content: "\ec9f"; }
.x-bold-wing-wing:before { content: "\eca0"; }
.x-bold-figma112:before { content: "\eca1"; }
.x-bold-educare-ekt:before { content: "\eca2"; }
.x-bold-google-play:before { content: "\eca3"; }
.x-bold-polyswarm-nct:before { content: "\eca4"; }
.x-bold-twitch:before { content: "\eca5"; }
.x-bold-autonio-niox:before { content: "\eca6"; }
.x-bold-html-5:before { content: "\eca7"; }
.x-bold-java-script:before { content: "\eca8"; }
.x-bold-html-3:before { content: "\eca9"; }
.x-bold-slack:before { content: "\ecaa"; }
.x-bold-js:before { content: "\ecab"; }
.x-bold-triangle111:before { content: "\ecac"; }
.x-bold-android:before { content: "\ecad"; }
.x-bold-youtube:before { content: "\ecae"; }
.x-bold-whatsapp:before { content: "\ecaf"; }
.x-bold-windows:before { content: "\ecb0"; }
.x-bold-tether-usdt:before { content: "\ecb1"; }
.x-bold-maker-mkr:before { content: "\ecb2"; }
.x-bold-usd-coin-usdc:before { content: "\ecb3"; }
.x-bold-aave-aave:before { content: "\ecb4"; }
.x-bold-enjin-coin-enj:before { content: "\ecb5"; }
.x-bold-dai-dai:before { content: "\ecb6"; }
.x-bold-theta-theta:before { content: "\ecb7"; }
.x-bold-litecoinltc:before { content: "\ecb8"; }
.x-bold-the-graph-grt:before { content: "\ecb9"; }
.x-bold-polygon-matic:before { content: "\ecba"; }
.x-bold-celsius-cel-:before { content: "\ecbb"; }
.x-bold-stacks-stx:before { content: "\ecbc"; }
.x-bold-iost-iost:before { content: "\ecbd"; }
.x-bold-ocean-protocol-ocean:before { content: "\ecbe"; }
.x-bold-emercoin-emc:before { content: "\ecbf"; }
.x-bold-zel-zel:before { content: "\ecc0"; }
.x-bold-tenx-pay:before { content: "\ecc1"; }
.x-bold-nebulas-nas:before { content: "\ecc2"; }
.x-bold-wanchain-wan64:before { content: "\ecc3"; }
.x-bold-wanchain-wan63:before { content: "\ecc4"; }
.x-bold-dent-dent:before { content: "\ecc5"; }
.x-bold-apple:before { content: "\ecc6"; }
.x-bold-snapchat:before { content: "\ecc7"; }
.x-bold-bootsrap:before { content: "\ecc8"; }
.x-bold-trello:before { content: "\ecc9"; }
.x-bold-figma108:before { content: "\ecca"; }
.x-bold-icon62:before { content: "\eccb"; }
.x-bold-xiaomi:before { content: "\eccc"; }
.x-bold-spotify:before { content: "\eccd"; }
.x-bold-xd:before { content: "\ecce"; }
.x-bold-photoshop:before { content: "\eccf"; }
.x-bold-illustrator:before { content: "\ecd0"; }
.x-bold-google106:before { content: "\ecd1"; }
.x-bold-icon105:before { content: "\ecd2"; }
.x-bold-zoom:before { content: "\ecd3"; }
.x-bold-ethereum-eth:before { content: "\ecd4"; }
.x-bold-trontron-trx:before { content: "\ecd5"; }
.x-bold-eos-eos:before { content: "\ecd6"; }
.x-bold-hedera-hashgraph-hbar:before { content: "\ecd7"; }
.x-bold-avalanche-avax:before { content: "\ecd8"; }
.x-bold-hex-hex:before { content: "\ecd9"; }
.x-bold-celo-celo:before { content: "\ecda"; }
.x-bold-blogger:before { content: "\ecdb"; }
.x-bold-vibe-vibe:before { content: "\ecdc"; }
.x-bold-ui8:before { content: "\ecdd"; }
.x-bold-facebook:before { content: "\ecde"; }
.x-bold-dropbox:before { content: "\ecdf"; }
.x-bold-python:before { content: "\ece0"; }
.x-bold-paypal:before { content: "\ece1"; }
.x-bold-vuesax:before { content: "\ece2"; }
.x-bold-nem-xem:before { content: "\ece3"; }
.x-bold-kyber-network-knc:before { content: "\ece4"; }


/**
 * Make by Icon Font Exporter
 * https://www.figma.com/community/plugin/1129455674275940478/Icon-Font-Exporter
 */
