@font-face {
  font-family: 'tripod-pack';
  src:  url('https://cdn.jsdelivr.net/gh/Yerikmiller/3pod-us.github.io@tpi-1.7.8/icons/platform/tripod-pack/fonts/tripod-pack.eot?f0zlij');
  src:  url('https://cdn.jsdelivr.net/gh/Yerikmiller/3pod-us.github.io@tpi-1.7.8/icons/platform/tripod-pack/fonts/tripod-pack.eot?f0zlij#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/Yerikmiller/3pod-us.github.io@tpi-1.7.8/icons/platform/tripod-pack/fonts/tripod-pack.ttf?f0zlij') format('truetype'),
    url('https://cdn.jsdelivr.net/gh/Yerikmiller/3pod-us.github.io@tpi-1.7.8/icons/platform/tripod-pack/fonts/tripod-pack.woff?f0zlij') format('woff'),
    url('https://cdn.jsdelivr.net/gh/Yerikmiller/3pod-us.github.io@tpi-1.7.8/icons/platform/tripod-pack/fonts/tripod-pack.svg?f0zlij#tripod-pack') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i[class*='icon-tripod-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tripod-pack' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-tripod-v-link-discconect:before {
  content: "\ea26";
  color: #424b54;
}
.icon-tripod-v-barra:before {
  content: "\ea27";
}
.icon-tripod-v-center-horizontal:before {
  content: "\ea28";
}
.icon-tripod-T-unico:before {
  content: "\ea29";
}
.icon-tripod-T-square:before {
  content: "\ea2a";
}
.icon-tripod-T-referrals:before {
  content: "\ea2b";
}
.icon-tripod-T-Pinterest:before {
  content: "\ea2c";
}
.icon-tripod-T-multiple:before {
  content: "\ea2d";
}
.icon-tripod-T-Linkedin:before {
  content: "\ea2e";
}
.icon-tripod-T-interlineado:before {
  content: "\ea2f";
}
.icon-tripod-T-dot-borde:before {
  content: "\ea30";
}
.icon-tripod-T-dot:before {
  content: "\ea31";
}
.icon-tripod-T-align-center-invertido:before {
  content: "\ea32";
}
.icon-tripod-T-Agregar:before {
  content: "\ea3f";
}
.icon-tripod-T-16_9:before {
  content: "\ea40";
}
.icon-tripod-T-9_16:before {
  content: "\ea41";
}
.icon-tripod-T-4_5:before {
  content: "\ea42";
}
.icon-tripod-T-1_1:before {
  content: "\ea43";
}
.icon-tripod-T-radio:before {
  content: "\ea25";
}
.icon-tripod-rectangle-shape:before {
  content: "\ea21";
}
.icon-tripod-star-shape:before {
  content: "\ea22";
}
.icon-tripod-triangle-shape:before {
  content: "\ea23";
}
.icon-tripod-circle-shape:before {
  content: "\ea24";
}
.icon-tripod-whatsapp:before {
  content: "\ea20";
}
.icon-tripod-lifebuoy:before {
  content: "\ea1f";
}
.icon-tripod-clipboard-text:before {
  content: "\ea1b";
}
.icon-tripod-status-up:before {
  content: "\ea1c";
}
.icon-tripod-T-align-Left:before {
  content: "\ea1d";
}
.icon-tripod-T-align-right:before {
  content: "\ea1e";
}
.icon-tripod-T-Gradiente:before {
  content: "\ea16";
}
.icon-tripod-v-paintbucket:before {
  content: "\ea17";
}
.icon-tripod-T-align-top:before {
  content: "\ea18";
}
.icon-tripod-T-voltearVertical:before {
  content: "\ea19";
}
.icon-tripod-T-align-bottom:before {
  content: "\ea1a";
}
.icon-tripod-message-notif:before {
  content: "\ea15";
}
.icon-tripod-cloud-minus:before {
  content: "\ea13";
}
.icon-tripod-briefcase:before {
  content: "\ea14";
}
.icon-tripod-v-monitor-recorder:before {
  content: "\ea3b";
}
.icon-tripod-v-volume-high:before {
  content: "\ea3c";
}
.icon-tripod-v-microphone-2:before {
  content: "\ea3d";
}
.icon-tripod-v-import:before {
  content: "\ea3e";
}
.icon-tripod-text-block:before {
  content: "\ea3a";
}
.icon-tripod-link-alt-3:before {
  content: "\ea38";
}
.icon-tripod-T-stop:before {
  content: "\ea37";
}
.icon-tripod-T-pause:before {
  content: "\ea39";
}
.icon-tripod-language-circle:before {
  content: "\ea35";
}
.icon-tripod-shield-search:before {
  content: "\ea36";
}
.icon-tripod-v-lock:before {
  content: "\ea33";
}
.icon-tripod-v-unlock:before {
  content: "\ea34";
}
.icon-tripod-T-Mobile:before {
  content: "\ea10";
}
.icon-tripod-v-monitor:before {
  content: "\ea11";
}
.icon-tripod-T-Tablet:before {
  content: "\ea12";
}
.icon-tripod-T-editar:before {
  content: "\e967";
}
.icon-tripod-v-setting-2:before {
  content: "\ea0c";
}
.icon-tripod-v-save-add:before {
  content: "\ea0d";
}
.icon-tripod-v-activity:before {
  content: "\ea0e";
}
.icon-tripod-v-directbox-receive:before {
  content: "\ea0f";
}
.icon-tripod-v-shopping-cart:before {
  content: "\ea03";
}
.icon-tripod-v-task-square:before {
  content: "\ea04";
}
.icon-tripod-v-code:before {
  content: "\ea05";
}
.icon-tripod-T-separador:before {
  content: "\ea06";
}
.icon-tripod-v-maximize-2:before {
  content: "\ea07";
}
.icon-tripod-T-columna:before {
  content: "\ea08";
}
.icon-tripod-v-slider-horizontal:before {
  content: "\ea09";
}
.icon-tripod-T-bloque:before {
  content: "\ea0a";
}
.icon-tripod-v-row-vertical:before {
  content: "\ea0b";
}
.icon-tripod-v-shapes:before {
  content: "\e9ff";
}
.icon-tripod-v-text:before {
  content: "\ea00";
}
.icon-tripod-T-boton:before {
  content: "\ea01";
}
.icon-tripod-v-textalign-justifycenter:before {
  content: "\ea02";
}
.icon-tripod-v-bank:before {
  content: "\e9fd";
}
.icon-tripod-v-truck:before {
  content: "\e9fe";
}
.icon-tripod-v-element-plus:before {
  content: "\e9fb";
}
.icon-tripod-v-arrow-2:before {
  content: "\e9fc";
}
.icon-tripod-v-image-alt1:before {
  content: "\e9f8";
}
.icon-tripod-v-keyboard-open:before {
  content: "\e9f9";
}
.icon-tripod-v-gallery-slash:before {
  content: "\e9fa";
}
.icon-tripod-T-Rocket:before {
  content: "\e9f6";
}
.icon-tripod-v-filter-edit:before {
  content: "\e9f7";
}
.icon-tripod-v-document-text-alt:before {
  content: "\e9f4";
}
.icon-tripod-v-export:before {
  content: "\e9f5";
}
.icon-tripod-v-google:before {
  content: "\e9f3";
}
.icon-tripod-T-soporte:before {
  content: "\e9f2";
}
.icon-tripod-T-listado:before {
  content: "\e9ec";
}
.icon-tripod-T-colortexto .path1:before {
  content: "\e9ed";
  color: rgb(66, 75, 84);
}
.icon-tripod-T-colortexto .path2:before {
  content: "\e9ee";
  margin-left: -1em;
  color: rgb(66, 75, 84);
}
.icon-tripod-T-colortexto .path3:before {
  content: "\e9ef";
  margin-left: -1em;
  color: rgb(234, 86, 79);
}
.icon-tripod-v-italic:before {
  content: "\e9f0";
}
.icon-tripod-T-text-bold-modified:before {
  content: "\e9f1";
}
.icon-tripod-v-user-square:before {
  content: "\e9e6";
}
.icon-tripod-v-video-play:before {
  content: "\e9e7";
}
.icon-tripod-v-facebook:before {
  content: "\e9e8";
}
.icon-tripod-v-dollar-circle:before {
  content: "\e9e9";
}
.icon-tripod-v-book:before {
  content: "\e9ea";
}
.icon-tripod-v-calendar2:before {
  content: "\e9eb";
}
.icon-tripod-v-coin:before {
  content: "\e9e5";
}
.icon-tripod-T-close:before {
  content: "\e9e4";
}
.icon-tripod-v-category:before {
  content: "\e9e3";
}
.icon-tripod-v-receive-square:before {
  content: "\e9e2";
}
.icon-tripod-v-timer-start:before {
  content: "\e9cb";
}
.icon-tripod-v-redo:before {
  content: "\e9da";
}
.icon-tripod-undo:before {
  content: "\e9db";
}
.icon-tripod-v-maximize-3:before {
  content: "\e9dc";
}
.icon-tripod-v-layer:before {
  content: "\e9dd";
}
.icon-tripod-v-arrow-up2:before {
  content: "\e9de";
}
.icon-tripod-v-alt-arrow-down:before {
  content: "\e9df";
}
.icon-tripod-T-height:before {
  content: "\e9e0";
}
.icon-tripod-T-Clip:before {
  content: "\e9e1";
}
.icon-tripod-v-personalcard:before {
  content: "\e9d7";
}
.icon-tripod-v-sort2:before {
  content: "\e9d8";
}
.icon-tripod-v-brush:before {
  content: "\e9d9";
}
.icon-tripod-v-clock:before {
  content: "\e900";
}
.icon-tripod-v-close-circle:before {
  content: "\e901";
}
.icon-tripod-v-designtools:before {
  content: "\e902";
}
.icon-tripod-v-document-text:before {
  content: "\e903";
}
.icon-tripod-v-emoji-happy:before {
  content: "\e904";
}
.icon-tripod-v-empty-wallet:before {
  content: "\e905";
}
.icon-tripod-v-empty-wallet1:before {
  content: "\e906";
}
.icon-tripod-vertical-dots:before {
  content: "\e907";
}
.icon-tripod-v-filter:before {
  content: "\e908";
}
.icon-tripod-v-gallery:before {
  content: "\e909";
}
.icon-tripod-v-gallery-add:before {
  content: "\e90a";
}
.icon-tripod-v-home:before {
  content: "\e90b";
}
.icon-tripod-video-play:before {
  content: "\e90c";
}
.icon-tripod-video-tick:before {
  content: "\e90d";
}
.icon-tripod-v-image:before {
  content: "\e90e";
}
.icon-tripod-v-info-circle:before {
  content: "\e90f";
}
.icon-tripod-v-logout:before {
  content: "\e910";
}
.icon-tripod-v-magicpen:before {
  content: "\e911";
}
.icon-tripod-v-notification:before {
  content: "\e912";
}
.icon-tripod-v-paypal:before {
  content: "\e913";
}
.icon-tripod-v-pen-tool:before {
  content: "\e914";
}
.icon-tripod-v-printer:before {
  content: "\e915";
}
.icon-tripod-v-profile-2user:before {
  content: "\e916";
}
.icon-tripod-v-shop:before {
  content: "\e917";
}
.icon-tripod-v-shopping-bag:before {
  content: "\e918";
}
.icon-tripod-v-sms:before {
  content: "\e919";
}
.icon-tripod-v-sort:before {
  content: "\e91a";
}
.icon-tripod-v-speedometer:before {
  content: "\e91b";
}
.icon-tripod-v-timer:before {
  content: "\e91c";
}
.icon-tripod-v-timer-alt-1:before {
  content: "\e91d";
}
.icon-tripod-v-user:before {
  content: "\e91e";
}
.icon-tripod-v-video-square:before {
  content: "\e91f";
}
.icon-tripod-v-wallet:before {
  content: "\e920";
}
.icon-tripod-wallet:before {
  content: "\e921";
}
.icon-tripod-warning:before {
  content: "\e922";
}
.icon-tripod-warning-alt:before {
  content: "\e923";
}
.icon-tripod-warning-alt-2:before {
  content: "\e924";
}
.icon-tripod-websites .path1:before {
  content: "\e925";
  color: rgb(0, 0, 0);
  opacity: 0.0700;
}
.icon-tripod-websites .path2:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-websites .path3:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-websites .path4:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-websites .path5:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-websites .path6:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-websites .path7:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-websites .path8:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-websites .path9:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-websites .path10:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-websites .path11:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-websites .path12:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-world:before {
  content: "\e931";
}
.icon-tripod-addition:before {
  content: "\e932";
}
.icon-tripod-addition-alt:before {
  content: "\e933";
}
.icon-tripod-affiliate-user:before {
  content: "\e934";
}
.icon-tripod-alert:before {
  content: "\e935";
}
.icon-tripod-alert-outlined:before {
  content: "\e936";
}
.icon-tripod-animate:before {
  content: "\e937";
}
.icon-tripod-arrow-back:before {
  content: "\e938";
}
.icon-tripod-arrow-down:before {
  content: "\e939";
}
.icon-tripod-arrow-foward:before {
  content: "\e93a";
}
.icon-tripod-arrow-left:before {
  content: "\e93b";
}
.icon-tripod-arrow-right:before {
  content: "\e93c";
}
.icon-tripod-arrow-small-down:before {
  content: "\e93d";
}
.icon-tripod-arrow-small-up:before {
  content: "\e93e";
}
.icon-tripod-arrow-up:before {
  content: "\e93f";
}
.icon-tripod-awards:before {
  content: "\e940";
}
.icon-tripod-background-color:before {
  content: "\e941";
}
.icon-tripod-bell:before {
  content: "\e942";
  color: #424b54;
}
.icon-tripod-bills:before {
  content: "\e943";
}
.icon-tripod-business .path1:before {
  content: "\e944";
  color: rgb(0, 0, 0);
  opacity: 0.0600;
}
.icon-tripod-business .path2:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-calendar:before {
  content: "\e946";
}
.icon-tripod-campaigns .path1:before {
  content: "\e947";
  color: rgb(0, 0, 0);
  opacity: 0.0700;
}
.icon-tripod-campaigns .path2:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-card-template:before {
  content: "\e949";
}
.icon-tripod-checklist:before {
  content: "\e94a";
}
.icon-tripod-checklist-alt:before {
  content: "\e94b";
}
.icon-tripod-cog:before {
  content: "\e94c";
}
.icon-tripod-cog-bold:before {
  content: "\e94d";
  color: #424b54;
}
.icon-tripod-col-25-25-25-25:before {
  content: "\e94e";
}
.icon-tripod-col-25-25-50:before {
  content: "\e94f";
}
.icon-tripod-col-25-50-25:before {
  content: "\e950";
}
.icon-tripod-col-25-75:before {
  content: "\e951";
}
.icon-tripod-col-33-33-33:before {
  content: "\e952";
}
.icon-tripod-col-50-25-25:before {
  content: "\e953";
}
.icon-tripod-col-50-50:before {
  content: "\e954";
}
.icon-tripod-col-75-25:before {
  content: "\e955";
}
.icon-tripod-col-100:before {
  content: "\e956";
}
.icon-tripod-connect-people:before {
  content: "\e957";
}
.icon-tripod-crown:before {
  content: "\e958";
}
.icon-tripod-cube:before {
  content: "\e959";
}
.icon-tripod-dashboard:before {
  content: "\e95a";
}
.icon-tripod-design:before {
  content: "\e95b";
}
.icon-tripod-designs .path1:before {
  content: "\e95c";
  color: rgb(0, 0, 0);
  opacity: 0.0700;
}
.icon-tripod-designs .path2:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-designs-alt:before {
  content: "\e95e";
}
.icon-tripod-design-tools:before {
  content: "\e95f";
}
.icon-tripod-desktop:before {
  content: "\e960";
}
.icon-tripod-dollar-circle:before {
  content: "\e961";
}
.icon-tripod-download:before {
  content: "\e962";
}
.icon-tripod-drag:before {
  content: "\e963";
}
.icon-tripod-duplicate:before {
  content: "\e964";
}
.icon-tripod-ecommerce .path1:before {
  content: "\e965";
  color: rgb(0, 0, 0);
  opacity: 0.0600;
}
.icon-tripod-ecommerce .path2:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-email .path1:before {
  content: "\e968";
  color: rgb(0, 0, 0);
  opacity: 0.0600;
}
.icon-tripod-email .path2:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-email-alt:before {
  content: "\e96a";
}
.icon-tripod-entrepreneur .path1:before {
  content: "\e96b";
  color: rgb(0, 0, 0);
  opacity: 0.0600;
}
.icon-tripod-entrepreneur .path2:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-entrepreneur .path3:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-entrepreneur .path4:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-entrepreneur .path5:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-entrepreneur .path6:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-entrepreneur .path7:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-entrepreneur .path8:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-entrepreneur .path9:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-entrepreneur .path10:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-exponential:before {
  content: "\e975";
}
.icon-tripod-eye:before {
  content: "\e976";
}
.icon-tripod-eye-slash:before {
  content: "\e977";
}
.icon-tripod-filter:before {
  content: "\e978";
}
.icon-tripod-folder-video:before {
  content: "\e979";
}
.icon-tripod-funnel .path1:before {
  content: "\e97a";
  color: rgb(0, 0, 0);
  opacity: 0.0600;
}
.icon-tripod-funnel .path2:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-funnel .path3:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-funnel .path4:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-funnel .path5:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-funnel-alt:before {
  content: "\e97f";
}
.icon-tripod-growth:before {
  content: "\e980";
}
.icon-tripod-home:before {
  content: "\e981";
}
.icon-tripod-info:before {
  content: "\e982";
}
.icon-tripod-info-alt:before {
  content: "\e983";
}
.icon-tripod-justify:before {
  content: "\e984";
}
.icon-tripod-line-height:before {
  content: "\e985";
}
.icon-tripod-link:before {
  content: "\e986";
}
.icon-tripod-link-alt:before {
  content: "\e987";
}
.icon-tripod-list:before {
  content: "\e988";
}
.icon-tripod-list-v2:before {
  content: "\e989";
}
.icon-tripod-logout:before {
  content: "\e98a";
}
.icon-tripod-marketplace:before {
  content: "\e98b";
  color: #424b54;
}
.icon-tripod-messenger:before {
  content: "\e98c";
}
.icon-tripod-mobile:before {
  content: "\e98d";
}
.icon-tripod-navigation-left:before {
  content: "\e98e";
}
.icon-tripod-navigation-right:before {
  content: "\e98f";
}
.icon-tripod-number-one:before {
  content: "\e990";
}
.icon-tripod-ordered-list:before {
  content: "\e991";
}
.icon-tripod-package:before {
  content: "\e992";
}
.icon-tripod-plans:before {
  content: "\e993";
  color: #424b54;
}
.icon-tripod-Pod_Icon_Afiliados:before {
  content: "\e994";
}
.icon-tripod-post-alt:before {
  content: "\e995";
}
.icon-tripod-products:before {
  content: "\e996";
  color: #424b54;
}
.icon-tripod-profile:before {
  content: "\e997";
}
.icon-tripod-referral:before {
  content: "\e998";
}
.icon-tripod-repeat:before {
  content: "\e999";
}
.icon-tripod-reports:before {
  content: "\e99a";
}
.icon-tripod-safeguard:before {
  content: "\e99b";
}
.icon-tripod-save:before {
  content: "\e99c";
}
.icon-tripod-search:before {
  content: "\e99d";
}
.icon-tripod-sell:before {
  content: "\e99e";
}
.icon-tripod-send-message:before {
  content: "\e99f";
}
.icon-tripod-service:before {
  content: "\e9a0";
}
.icon-tripod-shield:before {
  content: "\e9a1";
}
.icon-tripod-shipped:before {
  content: "\e9a2";
}
.icon-tripod-shopping-bag:before {
  content: "\e9a3";
  color: #424b54;
}
.icon-tripod-shopping-cart:before {
  content: "\e9a4";
}
.icon-tripod-speaker:before {
  content: "\e9a5";
}
.icon-tripod-star:before {
  content: "\e9a6";
}
.icon-tripod-star-outlined:before {
  content: "\e9a7";
}
.icon-tripod-startup .path1:before {
  content: "\e9a8";
  color: rgb(0, 0, 0);
  opacity: 0.0600;
}
.icon-tripod-startup .path2:before {
  content: "\e9a9";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-startup .path3:before {
  content: "\e9aa";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-startup .path4:before {
  content: "\e9ab";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-startup .path5:before {
  content: "\e9ac";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-startup .path6:before {
  content: "\e9ad";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-startup .path7:before {
  content: "\e9ae";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-startup .path8:before {
  content: "\e9af";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-startup .path9:before {
  content: "\e9b0";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-startup .path10:before {
  content: "\e9b1";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tripod-strikethrough:before {
  content: "\e9b2";
}
.icon-tripod-styles-settings:before {
  content: "\e9b3";
}
.icon-tripod-subindex:before {
  content: "\e9b4";
}
.icon-tripod-success-circle:before {
  content: "\e9b5";
}
.icon-tripod-success-circle1:before {
  content: "\e9b6";
}
.icon-tripod-T-3PodAcademy:before {
  content: "\e9b7";
  color: #424b54;
}
.icon-tripod-tablet:before {
  content: "\e9b8";
}
.icon-tripod-T-admonvideo:before {
  content: "\e9b9";
}
.icon-tripod-T-afiliados:before {
  content: "\e9ba";
}
.icon-tripod-T-apps:before {
  content: "\e9bb";
}
.icon-tripod-T-campaigns:before {
  content: "\e9bc";
}
.icon-tripod-T-check:before {
  content: "\e9bd";
}
.icon-tripod-text-align-center:before {
  content: "\e9be";
}
.icon-tripod-text-align-justify:before {
  content: "\e9bf";
}
.icon-tripod-text-align-left:before {
  content: "\e9c0";
}
.icon-tripod-text-align-right:before {
  content: "\e9c1";
}
.icon-tripod-text-color:before {
  content: "\e9c2";
}
.icon-tripod-T-guardar:before {
  content: "\e9c3";
}
.icon-tripod-times:before {
  content: "\e9c4";
}
.icon-tripod-T-plantilla:before {
  content: "\e9c5";
}
.icon-tripod-trash:before {
  content: "\e9c6";
}
.icon-tripod-truck-moving:before {
  content: "\e9c7";
}
.icon-tripod-T-searchv2:before {
  content: "\e9c8";
}
.icon-tripod-T-world:before {
  content: "\e9c9";
}
.icon-tripod-underline:before {
  content: "\e9ca";
}
.icon-tripod-unordered-list:before {
  content: "\e9cc";
}
.icon-tripod-url-alt-2:before {
  content: "\e9cd";
}
.icon-tripod-v-arrow-down:before {
  content: "\e9ce";
}
.icon-tripod-v-arrow-up:before {
  content: "\e9cf";
}
.icon-tripod-v-bezier:before {
  content: "\e9d0";
}
.icon-tripod-v-calendar:before {
  content: "\e9d1";
}
.icon-tripod-v-camera:before {
  content: "\e9d2";
}
.icon-tripod-emoji .path1:before {
  content: "\e9d3";
  color: rgb(251, 204, 88);
}
.icon-tripod-emoji .path2:before {
  content: "\e9d4";
  margin-left: -1em;
  color: rgb(81, 38, 20);
}
.icon-tripod-emoji .path3:before {
  content: "\e9d5";
  margin-left: -1em;
  color: rgb(239, 72, 100);
}
.icon-tripod-emoji .path4:before {
  content: "\e9d6";
  margin-left: -1em;
  color: rgb(38, 52, 84);
}
.icon-tripod-info-circle-colored .path1:before {
  content: "\ea44";
  color: rgb(234, 241, 255);
}
.icon-tripod-info-circle-colored .path2:before {
  content: "\ea45";
  margin-left: -1.0419921875em;
  color: rgb(41, 98, 255);
}
.icon-tripod-info-circle-colored .path3:before {
  content: "\ea46";
  margin-left: -1.0419921875em;
  color: rgb(41, 98, 255);
}
